[2018-10-17 22:01] crweiner opened #7 "Add Gatsby To List?"
Hello all!

I wanted to see the community's thoughts regarding adding Gatsby to the list. They give out [free swag](https://www.gatsbyjs.org/docs/contributor-swag/) to all of their contributors all the time, not just during Hacktoberfest, yet they do have a [blog post talking about Hacktoberfest](https://www.gatsbyjs.org/blog/2018-10-09-hacktoberfest-kickoff/) this year.

Would you want companies

[2018-10-18 02:39] benbarth opened #8 "Similar project"
This project appears to be a duplicate of https://github.com/benbarth/hacktoberfest-swag

[2018-10-18 03:13] crweiner commented on #8
Hay @benbarth! Thanks for pointing me in the direction of your swag list too. Yours looks much better than mine. :smiley:

I was looking across GitHub for something like this and couldn't find it before. I'm not sure how I missed your list, but somehow I guess I did. So, I set out to put up a list mainly so I can make sure that I know of all of the swag opportunities for this Hacktoberfest (see my

[2018-10-18 03:41] benbarth commented on #8
No worries! I hadn't seen a Hacktoberfest swag list before https://benbarth.github.io/hacktoberfest-swag/ but it's probably not the first. I'm working on a general swag list as well. *Coming soon*
I'm still working on a good format to display items.
Team work sounds great. Can't have too much swag. ;)

[2018-10-18 04:14] crweiner commented on #8
I was totally going to work on a general dev swag list site too a few months ago, then I came across this one: https://github.com/swapagarwal/swag-for-dev
It doesn't seem to be complete, even though the repo is active. That should be a good jumping off point to help your dev swag list. I'll keep an eye on your repo and see what other cool stuff you can find!

[2018-10-18 04:30] crweiner commented on #8
Operation Code's participation in Hacktoberfest 2018 isn't very well documented, but it's on their banner here: https://github.com/OperationCode/START_HERE
It was just added in a PR by one of the people behind the project, see PR #6

[2018-10-18 19:52] crweiner opened #10 "Add Nexmo To The List"
A good first issue for a pull request!

I recently saw that Nexmo is throwing their hat into the ring and offering swag for Hacktoberfest. Anyone one the community want to add a meaningful PR to their count for Hacktoberfest and add Nexmo to the Hacktoberfest Swag List, following the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md) guidelines?

See

[2018-10-18 20:46] orangenbaumblatt commented on #10
I can do it!

[2018-10-18 21:07] crweiner commented on #10
You rock @orangenbaumblatt!! Thanks for helping out in the spirit of Hacktoberfest!! :fallen_leaf: :maple_leaf:

[2018-10-19 02:10] crweiner opened #12 "Add Aras Labs To The Swag List"
A good first issue for a pull request!

I recently saw that Aras Labs is throwing their hat into the ring and offering swag for Hacktoberfest. Anyone in the community want to add a meaningful PR to their count for Hacktoberfest and add Aras Labs to the Hacktoberfest Swag List, following the CONTRIBUTING.md guidelines?

See their blog post: http://community.aras.com/en/join-aras-labs-hacktoberfest-

[2018-10-19 02:12] crweiner opened #13 "Add LBRY To The Swag List"
A good first issue for a pull request!

I recently saw that LBRY is throwing their hat into the ring and offering swag for Hacktoberfest. Anyone in the community want to add a meaningful PR to their count for Hacktoberfest and add LBRY to the Hacktoberfest Swag List, following the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md) guidelines?

See th

[2018-10-19 02:19] crweiner opened #14 "Add Magento To The Swag List"
A good first issue for a pull request!

I recently saw that Magento is throwing their hat into the ring and offering swag for Hacktoberfest, and they're calling it #SQUASHTOBERFEST. Anyone in the community want to add a meaningful PR to their count for Hacktoberfest and add Magento to the Hacktoberfest Swag List, following the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/b

[2018-10-19 03:03] crweiner commented on #12
Taken up in PR #15 by @thetanbull

[2018-10-19 03:09] crweiner commented on #12
Merged in PR #15

[2018-10-19 03:09] #12 closed

[2018-10-19 03:20] crweiner opened #16 "Rearrange The Hacktoberfest Swag List?"
Now that this list of companies giving out swag for Hacktoberfest has grown quite long, does anyone have any thoughts on how it should be styled or rearranged? I kind of like the idea of putting DigitalOcean/GitHub/Twillio at the top, then Microsoft, then everyone else in alphabetical order.

Or, would you rather see it organized from least amount of work to most? Or best swag to worse swag?

Let

[2018-10-19 04:31] adriennetacke commented on #16
Have an idea.. I'll send a PR soon! :)

[2018-10-19 14:41] crweiner commented on #14
PR #17 merged into master, thanks again @MishaLarionov!! :+1:

[2018-10-19 14:41] #14 closed

[2018-10-19 16:32] crweiner commented on #13
Thanks again @mattackard!! I greatly appreciate your contribution. :smile: Good luck with the rest of Hacktoberfest!
Merged in PR #20 :+1:

[2018-10-19 16:32] #13 closed

[2018-10-19 17:35] crweiner commented on #16
Thank you @adriennetacke for your incredible work in rearranging the swag list! Your contribution is looking incredible in PR #22.

And also thank you to @EliSteger in PR #21 for taking the time to alphabetize the list and making it easier for all to read.

Looking forward to combining your two approaches soon. :+1:

I love everyone helping out in the spirit of Hacktoberfest! :smile:

[2018-10-21 02:56] crweiner commented on #16
The list has now been rearranged due to the work of @adriennetacke in PR #22 and PR #23.

Thank you again! :-)

[2018-10-21 03:08] crweiner opened #24 "Fix flags in markdownlint and Code Climate"
I recently added a CI bot to check for Markdown styling/formatting issues, being that this swag list is just a giant Markdown document. Code Climate is using a Ruby program called `markdownlint` to verify that the Markdown is correctly formatted in a document.

Read more about that Ruby script here: https://github.com/markdownlint/markdownlint

As you can [publically see here](https://codeclimate.

[2018-10-21 03:09] #16 closed

[2018-10-21 15:14] swapagarwal opened #26 "Collaboration with swag-for-dev 💯"
Hello from [devSwag.io](http://devswag.io/)! 👋

We maintain a similar repository, to curate swag opportunities for developers. 😎
I think we should consolidate all swag opportunities at one place. Thoughts? 🎉

https://github.com/swapagarwal/swag-for-dev/issues/136

[2018-10-21 16:06] crweiner commented on #26
Hello @swapagarwal!

Nice for you to reach out to me. :smile: I talked about your swag site when @benbarth let me know about his list in Issue # 8.

In the spirit of Hacktoberfest and sweet, sweet, swag, I think it's great if we all share our lists around (I mean, everything is public after all, and clearly people are submitting pull requests to other people's swag lists after reading about it on

[2018-10-22 15:39] swapagarwal commented on #26
Couldn't agree more!

We have defined a JSON format [here](https://github.com/swapagarwal/swag-for-dev/blob/master/data.json) which could help in collaboration. This would allow folks to maintain their lists independently and import items from other lists. Let me know your thoughts on this?

Although, ideally, it'd be better for everybody to contribute to a central place - better for users as they

[2018-10-24 01:23] crweiner opened #27 "Add OpenBazaar to Hacktoberfest Swag List"
A good first issue for a pull request!

I recently saw that OpenBazaar is throwing their hat into the ring and offering swag for Hacktoberfest. Anyone in the community want to add a meaningful PR to their count for Hacktoberfest and add OpenBazaar to the Hacktoberfest Swag List, following the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md) guideli

[2018-10-24 02:36] crweiner opened #29 "Add .mdlrc File To Configure markdownlint and Code Climate"
Create an `.mdlrc` file based on the official [configuration here](https://github.com/markdownlint/markdownlint/blob/25081c5b1a1312a111d22791197e6e2ad8092a0c/docs/configuration.md) that will ignore "Line Length" and "Multiple headers with the same content" flags in Code Climate.

See mdl rules: https://github.com/markdownlint/markdownlint/blob/v0.4.0/docs/RULES.md
See Code Climate docs: https://do

[2018-10-24 18:41] crweiner commented on #26
That could certainly work for next year. As I said, I don't have high expectations for this list and initially just wanted a simple to read Markdown text file for people to reference. It also makes it really easy for a novice to submit a PR and get it checked off towards completing their goals for Hacktoberfest. Ideally I'd like to keep this as Markdown, maybe one day turned into a Jekyll or Hugo

[2018-10-24 21:01] #27 closed

[2018-10-28 00:49] swapagarwal commented on #26
Got it! Let's connect next year. 😇

[2018-11-20 01:23] crweiner opened #33 "Fix Jekyll Sidebar / Location of Disclaimer"
In screens that are wide but not very tall, like a 13" MacBook/Macbook Pro, the sidebar text overlaps.

See: https://www.webpagetest.org/result/181120_4K_269711ee083cdd4d90dff4ee3b9500b9/

[2019-01-08 05:37] swapagarwal commented on #26
DMing you on Twitter. 🎉

[2019-01-08 05:37] #26 closed

[2019-01-08 12:43] crweiner commented on #26
Just followed you! Looking forward to working with you! :+1:

[2019-04-17 20:13] #7 closed

[2019-09-05 15:47] crweiner commented on #8
Closing in order to begin to set things up for Hacktoberfest 2019. If you wish to collaborate between all of us and [Swag For Dev](https://github.com/swapagarwal/swag-for-dev) then we can do so by following his [JSON](https://github.com/swapagarwal/swag-for-dev/blob/master/data.json) format. Also, see Issue #26.

Let's make this next Hacktoberfest a great one! :-)

[2019-09-05 15:47] #8 closed

[2019-09-16 19:57] #33 closed

[2019-09-17 22:20] gupta409 commented on #29
I can work on this. Feel free to assign.

[2019-09-18 15:07] crweiner commented on #29
Fixed in #43!!

[2019-09-18 15:07] #29 closed

[2019-09-18 15:15] crweiner opened #44 "Gather Companies Offering Swag for Hacktoberfest 2019"
Hello all!

With Hacktoberfest 2019 right around the corner, is anyone yet aware of companies committed to offering swag?

You can review the [2018 branch here](https://github.com/crweiner/hacktoberfest-swag-list/tree/2018) to see the list of companies that participated last year. I've heard back from only one of them with a commitment to sponsor swag again this year.

If you hear of a swag opport

[2019-09-20 14:18] crweiner commented on #44
[Kong](https://konghq.com/) has made public their intentions to offer their own swag for Hacktoberfest via [Twitter](https://twitter.com/thekonginc/status/1172269515884912640?s=19)

[2019-09-20 14:50] crweiner commented on #44
[LBRY](https://lbry.com/) has also made their intentions to offer a swag t-shirt via Twitter [here](https://twitter.com/jsigwart/status/1175054393541922817?s=19) and [here](https://twitter.com/jeremykauffman/status/1175053927894704129?s=19)

[2019-09-20 14:59] crweiner commented on #44
[OpenEBS](https://www.openebs.io/) has also stated that they'll be offering swag via [Twitter](https://twitter.com/_nisanta_/status/1175059143784157185?s=19), specifically a t-shirt for every successful merged PR in any of the [OpenEBS Repos](https://github.com/openebs) with other grand prizes and giveaways to be announced later.

[2019-09-23 14:01] crweiner commented on #44
[Auth0](https://auth0.com/) and [Nexmo](https://www.nexmo.com/) are **_not_** offering their own swag for Hacktoberfest this year per Twitter [here](https://twitter.com/Auth0Community/status/1176064580075888640?s=19) and [here](https://twitter.com/NexmoDev/status/1176101592858333185?s=19)

[2019-09-23 15:21] gagandeepp commented on #44
https://circleci-public.github.io/hacktoberfest/#/
Circle CI will be offering their swags

[2019-09-23 15:30] crweiner commented on #44
Sweet! Thanks @gagandeepp!! That shirt looks mighty fine. :nerd_face:

[2019-09-24 01:29] ksmorano opened #45 "add circleCI to participating companies"
just saw on twitter :)
https://circleci-public.github.io/hacktoberfest/#/

[2019-09-24 02:10] crweiner commented on #45
Yes indeed! It's great to see a new company on the list!! And the shirt looks really cool!!

![Woot Woot!](https://media.giphy.com/media/xTkcELYYToYreWwe8U/giphy.gif)

Thanks for the heads up and keep them coming! Let's have a wonderful swag-filled Hacktoberfest. :-)

[2019-09-24 04:45] ksmorano commented on #45
can I PR those I know of?

[2019-09-24 14:52] KyleTryon commented on #45
Yall are so fast! I just submitted a PR: https://github.com/crweiner/hacktoberfest-swag-list/pulls

[2019-09-24 16:05] crweiner commented on #45
I had first wanted to hold off on adding things to the list until Hacktoberfest began to give as many people as possible the chance to earn 4 PRs and the official swag. However, I also clearly see the merit of hitting the ground running with a full swag list instead of starting to build it on Oct 1st.

I'll leave it up to you and amend my wording in #44. If you think that you will be able to easil

[2019-09-24 16:26] crweiner commented on #45
@ksmorano Long story short I changed my mind. Yes you can PR those you know of now as long as you know that it won't count yet towards the official swag.

I merged the CircleCI PR submitted by @KyleTryon and I would love to see what others you can submit or if you'd like to [appease the markdown lint bot](https://codeclimate.com/github/crweiner/hacktoberfest-swag-list/pull/46) :robot:

[2019-09-24 16:29] crweiner commented on #44
Hi @gagandeepp, I changed my mind about holding off on adding companies to the list until Hacktoberfest begins because I'd like to hit the ground running with something workable on day 1. I merged CircleCI's involvement in #46 and I'd highly encourage you to add other companies to the list or fix the [markdown lint errors to appease the bots](https://codeclimate.com/github/crweiner/hacktoberfest-s

[2019-09-24 19:28] crweiner commented on #44
[Appwrite](https://appwrite.io/) was added to the swag list in PR #47 by one of the developers! It's great to see new companies joining in!

[2019-09-24 19:29] crweiner commented on #45
Because CircleCI has been added, I'll close this Issue. Feel free to open up a new issue and submit your PRs! I just don't want to get people confused and try to add CircleCI twice. :smile:

[2019-09-24 19:29] #45 closed

[2019-09-25 15:50] gagandeepp commented on #44
https://twitter.com/GopinathLangote/status/1176436040439148545

1build will be offering swag to

[2019-09-25 17:12] crweiner commented on #44
Humm...it's not clear if they are offering their own unique swag or just stating that you can earn the main DigitalOcean/Dev.to Hacktoberfest shirt. Do you have any clarification or other info to share?

[2019-09-25 17:39] crweiner commented on #44
It seems like [Umbraco](https://umbraco.com) will be offering their own swag for Hacktoberfest 2019 according to a sneak peek [this blog post](https://umbraco.com/blog/the-pr-team-chronicles-september-2019/). However, one of the Umbraco devs doesn't seem to like this little project all that much and requested on Twitter [here](https://twitter.com/cultiv/status/1176901157429682177?s=19) and [here](

[2019-09-26 00:38] benbarth commented on #44
Thanks for the heads up @crweiner. I've never seen this before. I've removed Umbraco from my list and added a comment to the [Umbraco 2019 ticket](https://github.com/benbarth/hacktoberfest-swag/issues/51).

[2019-09-26 02:30] crweiner commented on #44
I know Ben, it just seems so odd. To go through the hassle to make swag, tease it, host hackathons, write an upcoming blog post about the swag, but **_no_** 'don't share our swag on your little Markdown list because it'll attract a few bad apples' just doesn't make any marketing sense...

[2019-09-26 02:38] crweiner commented on #44
Sadly no [SendGrid](https://sendgrid.com/) swag this year [per this Tweet](https://twitter.com/WieEinFuchs/status/1176580410706280449)

[2019-09-26 03:05] crweiner commented on #44
A new company, [Uno](https://platform.uno/) is giving away their own swag for Hacktoberfest! Yay!!! We've got another new one! See their [blog post here](https://platform.uno/uno-is-joining-hacktoberfest-2019/)

[2019-09-26 16:16] gagandeepp commented on #44
https://www.accordproject.org/events/hacktoberfest-2019/

[2019-09-26 16:17] crweiner commented on #44
Sweet!! That's another great one! Thanks for finding the Accord Project! :smile:

[2019-09-26 21:23] crweiner commented on #44
Operation Code has [updated their repo](https://github.com/OperationCode/START_HERE) from last year's Hacktoberfest to include info for 2019 and how to earn their swag for this year!!

[2019-09-27 11:51] gagandeepp commented on #7
Sounds good , I just got my T-shirt a few days back

[2019-09-27 13:33] crweiner commented on #7
I'm more inclined to promote companies that offer unique swag for specifically Hacktoberfest rather than year round in this little project. That's why I closed this issue a while ago.

Please let me know if you see a post from Gatsby encouraging participation in Hacktoberfest 2019 and/or offering unique swag just for the holiday.

Otherwise, I think that it's best suited for [devswag.io](https://d

[2019-09-27 15:43] crweiner commented on #44
[Hasura](hasura.io) has joined Hacktoberfest 2019 with their own swag again per [their blog post](https://blog.hasura.io/hasura-joins-hacktoberfest-2019/)!

[2019-09-28 01:28] felicianotech opened #50 "Add CI with CircleCI"
Before we can create a CircleCI config file we need to know:

- what the site is built with: Jekyll
- where it's hosted: ?
- the deployment process (how it gets from git to the server): ?
- how is the website being tested: ?

[2019-09-28 02:13] crweiner commented on #50
Hay Ricardo! Good to see you and thanks for the helping hand!

Yes, this is a Jekyll site, built/deployed and hosted on Netlify. They automatically build and deploy with each commit to master and deploy a preview for each PR. It's being tested by either running a localhost copy and/or by opening a PR myself and have Netlify build a PR preview (when I'm particularly lazy).

My goal with this projec

[2019-09-28 16:16] gagandeepp commented on #44
https://substrate.dev/hacktoberfest/

[2019-09-29 20:32] jacobtomlinson commented on #44
We send out opsdroid stickers to our contributors all year round but for hacktoberfest we will be included a limited edition one too.

https://medium.com/opsdroid/contributor-sticker-packs-738058ceda59

[2019-09-30 13:50] crweiner opened #52 "Add Kong to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-533573229), [Kong](https://konghq.com/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Kong to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/maste

[2019-09-30 13:52] crweiner opened #53 "Add LBRY to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-533585664), [LBRY](https://lbry.com/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add LBRY to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/

[2019-09-30 13:57] crweiner opened #54 "Add OpenEBS to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-533589093), [OpenEBS](https://www.openebs.io/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add OpenEBS to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/

[2019-09-30 13:59] crweiner opened #55 "Add Accord Project to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-535578259), [Accord Project](https://www.accordproject.org/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Accord Project to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hac

[2019-09-30 14:00] gagandeepp commented on #52
Please assign this to me

[2019-09-30 14:01] daniloff200 commented on #44
Valor Software (creators & maintainers of ngx-bootstrap) take part this year too !
Check out our blog post  : https://valor-software.com/articles/hacktoberfest-2019-is-coming-and-ngx-bootstrap-strives-for-your-attention.html

[2019-09-30 14:01] crweiner opened #56 "Add Operation Code to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-535691674), [Operation Code](https://github.com/OperationCode) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Operation Code to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/h

[2019-09-30 14:04] crweiner opened #57 "Add Hasura to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-535993209), [Hasura](https://hasura.io) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Hasura to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/mas

[2019-09-30 14:10] crweiner opened #58 "Add Parity (Substrate?) to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-536203438), [Parity](https://www.parity.io) (or perhaps their sister community of [Substrate](https://substrate.dev/)?) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Parity/Substrate to the 2019 list following the format

[2019-09-30 14:12] crweiner opened #59 "Add opsdroid to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-536338558), [opsdroid](https://opsdroid.dev/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add opsdroid to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/

[2019-09-30 14:14] crweiner opened #60 "Add Valor Software to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-536575234), [Valor Software](https://valor-software.com) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Valor Software to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktob

[2019-09-30 14:15] crweiner commented on #55
Being worked on in PR #49, but presently incomplete.

[2019-09-30 14:18] crweiner commented on #44
![Thank You!](https://media.giphy.com/media/QAsBwSjx9zVKoGp9nr/giphy.gif)

Hay there @jacobtomlinson!! Thanks for letting us know about opsdroid and for offering your own sticker swag for Hacktoberfest!! I added Issue #59 so someone can add your project to the list. :smile: I love seeing new companies participate in Hacktoberfest every year and I hope you enjoy the holiday. Thanks again!

[2019-09-30 14:22] crweiner commented on #44
Hello @daniloff200!! Thank you so very much for participating in Hacktoberfest and offering your own swag for ngx-bootstrap! You guys rock! I've added Issue #60, so be sure to tag that issue when submitting your PR.
![Thanks Partner](https://media.giphy.com/media/3oz8xIsloV7zOmt81G/giphy.gif)

Thanks again for participating in Hacktoberfest, offering your own swag, and for spreading the word here

[2019-09-30 14:24] WilChrist commented on #60
i can handle this!

[2019-09-30 14:24] crweiner commented on #52
Go for it, my good man! Please only work on this company for now and save the other PRs/Issues for other people trying to contribute for Hacktoberfest too. I want to help spread the swag around!  :smile:

[2019-09-30 14:32] PatrickRNG commented on #56
Hello! can i work on this one?

[2019-09-30 14:35] Smalloow commented on #54
I can take this one

[2019-09-30 14:35] Smalloow commented on #53
I can take this one

[2019-09-30 14:39] moingshaikh commented on #57
If no one has taken it, I'm ready to take up.

[2019-09-30 14:42] moingshaikh commented on #59
If this issue is available, I can take it.

[2019-09-30 14:46] crweiner commented on #59
If Hacktoberfest has already started in your time zone and contributing now will count towards the official swag for you, then feel free! But please only take 1 from the list to provide others a chance to earn some meaningful PRs as well. Thank you!

[2019-09-30 14:47] moingshaikh commented on #58
I've just verified with their official blog, they're participating in Hacktoberfest 2019. https://www.parity.io/hacktoberfest-2019-parity/)

I'm taking this issue :)

[2019-09-30 14:47] crweiner commented on #56
If Hacktoberfest has already started in your time zone and contributing now will count towards the official swag for you, then feel free! But please only take 1 from the list to provide others a chance to earn some meaningful PRs as well. Thank you!

[2019-09-30 14:47] crweiner commented on #54
If Hacktoberfest has already started in your time zone and contributing now will count towards the official swag for you, then feel free! But please only take 1 from the list to provide others a chance to earn some meaningful PRs as well. Thank you!

[2019-09-30 14:47] crweiner commented on #53
I'd prefer one PR per person in order to allow the most people to earn their swag as possible, please.

[2019-09-30 14:48] crweiner commented on #58
I'd prefer one PR per person in order to allow the most people to earn their swag as possible, please.

[2019-09-30 14:48] Smalloow commented on #53
Sure thing, I'll redact the first one

[2019-09-30 14:51] moingshaikh commented on #58
I agree with that. In fact, I appreciate your approach. Thanks for clarifying. I appreciate your efforts in spreading Hacktoberfest to everyone. I'll make sure I take only one issue and thus contribute one PR to this repo to let others work on this.

[2019-09-30 14:52] crweiner commented on #60
If Hacktoberfest has already started in your time zone and contributing now will count towards the official swag for you, then feel free! But please only take 1 from the list to provide others a chance to earn some meaningful PRs as well. Thank you!

[2019-09-30 14:57] crweiner commented on #58
Thanks for understanding @moingshaikh! You're certainly welcome to fix typos, CodeClimate/markdown formatting, alphabetizing, adding features, etc, so you're not limited to just 1 PR _total_, I'd just like to give a chance for others to add new companies to the list as well.

[2019-09-30 14:59] WilChrist commented on #60
I'll make my PR tomorrow. I Think it's better for you to precise that in the contributing guideline and also something like that

?

[2019-09-30 15:02] cendekia commented on #57
let me take it please

[2019-09-30 15:06] Tuxhedoh commented on #58
@moingshaikh  do you have another one. If you do, I don't mind claiming this one. I'll get it staged to make PR tomorrow.

[2019-09-30 15:10] PatrickRNG commented on #56
@crweiner Sure thing! I will make the PR tomorrow!

[2019-09-30 15:14] crweiner commented on #60
Excellent point, @WilChrist, I'll add that now. Thank you! :smile:

[2019-09-30 16:02] crweiner commented on #60
I actually think that PRs are currently counting because it's already Oct 1st in Japan/Korea/Australia/New Zealand, etc. You can submit your PR and check your [Hacktoberfest Profile](https://hacktoberfest.digitalocean.com/profile) to see if it shows up there (I have no idea how long it takes to appear),

[2019-09-30 16:02] crweiner commented on #59
I actually think that PRs are currently counting because it's already Oct 1st in Japan/Korea/Australia/New Zealand, etc. You can submit your PR and check your [Hacktoberfest Profile](https://hacktoberfest.digitalocean.com/profile) to see if it shows up there (I have no idea how long it takes to appear),

[2019-09-30 16:02] crweiner commented on #58
I actually think that PRs are currently counting because it's already Oct 1st in Japan/Korea/Australia/New Zealand, etc. You can submit your PR and check your [Hacktoberfest Profile](https://hacktoberfest.digitalocean.com/profile) to see if it shows up there (I have no idea how long it takes to appear),

[2019-09-30 16:03] crweiner commented on #57
I actually think that PRs are currently counting because it's already Oct 1st in Japan/Korea/Australia/New Zealand, etc. You can submit your PR and check your [Hacktoberfest Profile](https://hacktoberfest.digitalocean.com/profile) to see if it shows up there (I have no idea how long it takes to appear),

[2019-09-30 16:03] crweiner commented on #56
I actually think that PRs are currently counting because it's already Oct 1st in Japan/Korea/Australia/New Zealand, etc. You can submit your PR and check your [Hacktoberfest Profile](https://hacktoberfest.digitalocean.com/profile) to see if it shows up there (I have no idea how long it takes to appear),

[2019-09-30 16:04] crweiner commented on #52
I actually think that PRs are currently counting because it's already Oct 1st in Japan/Korea/Australia/New Zealand, etc. You can submit your PR and check your [Hacktoberfest Profile](https://hacktoberfest.digitalocean.com/profile) to see if it shows up there (I have no idea how long it takes to appear),

[2019-09-30 16:05] moingshaikh commented on #58
Don't worry, feel free to take it.

[2019-09-30 16:06] crweiner commented on #44
Now that Hacktoberfest 2019 has officially started, please [Post a new issue](https://github.com/crweiner/hacktoberfest-swag-list/issues/new) when you discover a new company offering Hacktoberfest swag. Thanks all!

[2019-09-30 16:06] #44 closed

[2019-09-30 16:17] gmlunesa commented on #53
Hi @crweiner, can I take this one? Thank you~

[2019-09-30 16:21] moingshaikh commented on #59
Yes. I am working on this now :)

[2019-09-30 16:25] oorjitchowdhary commented on #55
can i take this up?

[2019-09-30 17:04] crweiner opened #64 "Change Octocat Background to Purple"
This is a great first issue for those new to Hacktoberfest and coding in general!

This swag list is a Jekyll site that uses a basic HTML template to build its pages. Part of that template is putting the little Octocat logo in the top-right corner so people browsing the website can very easily jump to the GitHub repo.

I am looking for someone to change the hex color value for the background of th

[2019-09-30 17:21] mohatagarvit commented on #64
Hi, I am Garvit. I am new to Hacktoberfest and would like to contribute to solve this first issue.

[2019-09-30 19:40] mohatagarvit commented on #59
#72 I have submitted this PR for this issue but I am not able to remove 2 of the lint errors. Can someone help me in figuring out where they are occurring.

[2019-09-30 20:42] crweiner commented on #64
Closed in #68

[2019-09-30 20:42] #64 closed

[2019-09-30 21:03] crweiner commented on #59
Hay @mohatagarvit, you can read up about [that error here](https://codeclimate.com/github/crweiner/hacktoberfest-swag-list/pull/72#readup-5d9255d981dfa70001000023), but in all honesty, we can just make this simpler and reference the blog post per my [comment here](https://github.com/crweiner/hacktoberfest-swag-list/pull/72#issuecomment-536746782). That saves on the headache. :smile:

[2019-09-30 21:03] crweiner commented on #58
Added in #71

[2019-09-30 21:03] #58 closed

[2019-09-30 21:03] crweiner commented on #57
Being worked on in #69

[2019-09-30 21:40] crweiner commented on #55
@oorjitchowdhary Yes indeed, you're certainly welcome to if you think you can complete it relatively soon! :+1:

[2019-10-01 02:44] crweiner commented on #59
Added in #72

[2019-10-01 02:44] #59 closed

[2019-10-01 02:45] crweiner commented on #57
Added in #69

[2019-10-01 02:45] #57 closed

[2019-10-01 03:52] gagandeepp commented on #52
@crweiner Will update this if there is any update from kong

[2019-10-01 14:41] crweiner commented on #60
Being worked on in #76 and #81

[2019-10-01 14:41] crweiner commented on #53
Yes, anyone can take this one! I'd love to get them added today!

[2019-10-01 17:53] crweiner commented on #60
Added in PR #81

[2019-10-01 17:53] #60 closed

[2019-10-01 17:53] crweiner commented on #54
This one is still up for grabs!!

[2019-10-01 19:08] usernique commented on #54
Grabbing it then.

[2019-10-01 20:48] crweiner commented on #54
OpenEBS added in #88

[2019-10-01 20:48] #54 closed

[2019-10-01 21:30] prog1dev opened #93 "Css is broken on the site"
[Here](https://user-images.githubusercontent.com/8070553/66002199-d1170c80-e4ab-11e9-80b3-846b2635527a.png) is a screenshot

Browser: Chrome 77.0.3865.90
OS: MacOS

[2019-10-02 03:25] crweiner commented on #93
Hay @prog1dev!

Yes, I'm aware of this issue (which is more of a screen size issue than a CSS issue, kinda), which seems to occur in laptop screens around 13 inches. Are you on a Mac with a 13" screen? If you resize your browser window so it's narrower like a phone screen, then you'll see how the site adapts responsively. It also displays properly on larger screens greater than 15.4 inches.

If yo

[2019-10-02 03:54] crweiner opened #100 "Add Adobe/Magento to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://community.magento.com/t5/Magento-DevBlog/Squashtoberfest-2019/ba-p/143694) and [here](https://opensource.adobe.com/squashtoberfest/), Magento (and the larger Adobe repos) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Adobe/Magento to the 2019 list following the formatting in the [CONTRI

[2019-10-02 04:28] moingshaikh commented on #100
Thanks for sharing, I am working on this.

[2019-10-02 05:37] moingshaikh commented on #100
Done. I have created PR#102 in this regard.

[2019-10-02 13:53] prog1dev commented on #93
Yea

[2019-10-02 14:00] crweiner commented on #100
Added in PR #102

[2019-10-02 14:02] crweiner commented on #93
Good idea as it'll draw more people to help. :smile: Looking forward to you playing around with it and offering a potential fix. I have a 13" Mac too and I've tried but gave up...

[2019-10-02 14:34] dehrax commented on #93
I'd suggest adding a media query for the resolution at which it breaks, and make the footer `position: none` and `width: 100%`. It will then be at the bottom instead.

[2019-10-02 16:39] #55 closed

[2019-10-02 16:45] crweiner commented on #93
If you'd like to take a stab at it, be my guest! Netlify will build a preview for you when you submit a PR so you can play around with it and see how things look. :smile: :computer:

[2019-10-02 19:04] crweiner opened #114 "Add Sense/Net to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://community.sensenet.com/blog/2019/10/01/hacktoberfest-is-here), [Sense/Net](https://sensenet.com/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Sense/Net to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CO

[2019-10-02 19:06] Stukongeluk commented on #114
I'm on it! ;)

[2019-10-02 19:30] madduci commented on #114
done

[2019-10-02 20:34] akshgpt7 commented on #53
@crweiner Is this issue still up for grabs?

[2019-10-03 12:59] dehrax commented on #93
Where should I put the CSS? In the Html file?

[2019-10-03 13:37] crweiner commented on #93
When the site is built, Jekyll/Netlify uses the [pages-themes/minimal](https://github.com/pages-themes/minimal) theme and the [default.html](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/_layouts/default.html) template to transform the .md files to HTML. You can add custom styles [per the steps here](https://github.com/pages-themes/minimal#stylesheet) and reference that in the `<

[2019-10-04 08:01] Kerl1310 opened #128 "Add QMK to List"
Add QMK to list of participating organisations.

Source: https://hacktoberfest.qmk.fm/

[2019-10-04 13:29] crweiner commented on #128
Hay @Kerl1310! Thank you very much for letting me know about QMK and their participation in Hacktoberfest!!! I'll have a look over your PR today and hopefully we can get them on the list soon. Thanks again! :smile:

[2019-10-04 13:31] crweiner commented on #53
Added in PR #95

[2019-10-04 13:31] #53 closed

[2019-10-04 13:32] crweiner commented on #56
Added in PR #96

[2019-10-04 13:32] #56 closed

[2019-10-04 13:39] crweiner commented on #114
Thank you to both @Stukongeluk and @madduci!! I like parts of both of your PRs and will be merging them both into one combined PR. Thank you again for making the Hacktoberfest Swag List even better for 2019!!

[2019-10-04 13:39] #114 closed

[2019-10-04 14:27] crweiner opened #131 "Add Strawberry to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://twitter.com/patrick91/status/1178952690300272640?s=19), [Strawberry](https://github.com/strawberry-graphql) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Strawberry to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blo

[2019-10-04 14:33] peterjgrainger commented on #131
can I take this on?

[2019-10-04 14:34] CadenG150 commented on #131
@peterjgrainger I already started it, about to make the pull request.

[2019-10-04 14:36] peterjgrainger commented on #131
ok @CadenG150 np ! 👍

[2019-10-04 14:38] crweiner commented on #131
Y'all are fast! :racing_car: :horse_racing: I always look at all the PRs, not just the first to submit it, and I'll combine PRs as needed to give people the most chances possible to make a meaningful contribution and celebrate Hacktoberfest.

[2019-10-04 14:40] manishram commented on #131
I am not understanding how to proceed

[2019-10-04 14:57] crweiner commented on #131
Anyone is welcome to make this little project better by [following the Contributing guidelines here](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md). :smile:

[2019-10-04 14:58] crweiner commented on #128
Being worked on in PRs #127 and #129

[2019-10-05 15:49] bh6erk opened #139 "Add JabRef to the Hacktoberfest 2019 Swag List"
Hello!

I have found a company called **JabRef**, they are also giving away stuff:
https://www.jabref.org/hacktoberfest/2019.html

This is a perfect task for a first PR.

[2019-10-05 15:52] bh6erk opened #140 "Add SAP to the Hacktoberfest 2019 Swag List"
Hi!

**SAP** are also giving away stuff this year:
https://blogs.sap.com/2019/10/04/lets-code-share-and-learn.-calling-abapers-to-next-edition-of-hacktoberfest/

[2019-10-06 03:34] #128 closed

[2019-10-06 04:04] crweiner opened #144 "Add Saleor to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://twitter.com/getsaleor/status/1179370205895634946), [Saelor](http://getsaleor.com/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Saelor to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md) fil

[2019-10-06 04:52] f1xer commented on #144
Hello, I've added PR in #145

[2019-10-06 11:18] mohatagarvit commented on #140
Just wondering should this really be added. As only 1 person who makes the most PRs in ABAP projects will get a sap press book.

[2019-10-07 15:11] crweiner commented on #140
Perhaps to the new **Top Contributors** section?? I'm not certain what I'll do yet but I'll consider it... :thinking:

[2019-10-07 15:12] #139 closed

[2019-10-07 16:34] mohatagarvit opened #156 "Add Umbraco to the 2019 Hacktoberfest Swag List"
Find the relevant details for umbraco from this DEV [post](https://dev.to/m1guelpf/hacktoberfest-2019-swag-list-3ajg).

Rest of the organizations I believe are already added.

[2019-10-07 18:14] crweiner commented on #156
Sooooooo, here's the deal. Umbraco apparently doesn't like this little project. See [the past post here that includes some tweets from their devs](https://github.com/crweiner/hacktoberfest-swag-list/issues/44#issuecomment-535131859). There's more tweets in that thread...

I don't understand their position at all. It makes literally no sense. "We want to promote Hacktoberfest and have our own swag!

[2019-10-07 18:33] lex111 commented on #156
@crweiner you are absolutely right, I will even stop helping this project, I wanted to him... but now I won’t!

[2019-10-07 18:35] #140 closed

[2019-10-07 18:45] crweiner commented on #156
Hay @lex111 that's totally up to you. They certainly need good people to contribute to their code and their swag is up for grabs for meaningful PRs. They just don't want to use this project/site/repo to promote Umbraco and I'll be honoring that for 2019 with a goal of reaching out again in 2020.

[2019-10-07 18:51] lex111 commented on #156
Well.. I created several PR's with considerable corrections in their docs, and I wanted to continue working, because this is an interesting project, but I did not know their position regarding HF event. It was unpleasant for me to find out, because I’m helping **not** for the sake of swag, it’s offensive to some extent!

[2019-10-08 09:53] nul800sebastiaan commented on #156
Hi again @crweiner - I have of course heard your arguments on Twitter, which is not a place for constructive discussions.
Of course there will still be bad apples, that's not the point, we just have rules for them this year and we only send swag for awesome contributions like the ones @lex111 has been sending (thank you Alexy! 🙏).

As for promotion/marketing opportunities: thanks for wearing the t

[2019-10-08 16:17] crweiner commented on #156
Hay there @nul800sebastiaan! :smile:

Yes, that does tend to turn into a shouting match and I am guilty of that...

Exactly! I don't think that is being effectively communicated, however. More on that later.

That is totally fine. It's your own giveaway after all. Even though I see swag as merely a marketing opportunity (as it is for any conference you may attend), you can certainly see it as a re

[2019-10-08 16:49] HeroicHitesh commented on #144
@crweiner  #163  resolves this issue. You can close it now

[2019-10-08 22:23] lex111 commented on #156
@nul800sebastiaan thank you for clarifying your position, it seems to me that this is quite fair, but the first time you did not explain it well enough, so this caused outrage..

From my own experience I will say that I heard about Umbarco from this awwwesome list, and I am very grateful to @crweiner for that! :muscle:

I don’t see anything bad that some people (including me) learn about the open-

[2019-10-09 14:23] #93 closed

[2019-10-09 19:22] crweiner opened #165 "Add Aqua to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

[Aqua](https://www.aquasec.com/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Aqua to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md) file.

You will need to locate a blog post (or official tweet), the type o

[2019-10-09 19:35] #144 closed

[2019-10-09 19:58] deepak2431 commented on #165
I would like to take this up.

[2019-10-09 20:13] codebeast01 commented on #165
I would like to resolve this issue.

[2019-10-09 20:21] crweiner commented on #165
Anyone can submit a PR and please follow the [Contributing guidelines](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)!

[2019-10-09 20:38] crweiner opened #168 "Add Software Mansion to the 2019 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://twitter.com/swmansion/status/1181221122471317504?s=19), [Software Mansion](https://swmansion.com/) is participating in Hacktoberfest 2019 by giving away their own swag.

Please add Software Mansion to the 2019 list following the formatting in the [CONTRIBUTING.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/m

[2019-10-10 01:08] elysiacodes commented on #168
Working on this now :)

[2019-10-10 15:18] codewithdev opened #176 "Add Product Hunt to the 2019 Hacktoberfest"

[2019-10-10 15:28] codewithdev commented on #176
#177

[2019-10-10 17:52] crweiner commented on #176
Can you please provide information showing that Product Hunt is offering unique swag for Hacktoberfest 2019?

[2019-10-10 18:01] crweiner commented on #168
Added in #170

[2019-10-10 18:01] #168 closed

[2019-10-11 05:22] #176 closed

[2019-10-11 05:55] codewithdev opened #183 "Update .config.yml"
Exclude from processing:
- vendor

[2019-10-11 14:51] crweiner commented on #131
Added in #181

[2019-10-11 14:51] #131 closed

[2019-10-11 19:25] codewithdev opened #193 "Add scroll Up Button"
By adding an "Scroll to Up button" It would be easy to use. And create a good look in the Layout.

[2019-10-11 19:33] #183 closed

[2019-10-13 10:06] dlemstra opened #206 "Add link to issues that are tagged with hacktoberfest."
When looking for issues in an organization that has multiple project I open up github search to filter issues tagged with hacktoberfest. Would this project be open to adding a link for this for all the projects? Below is an example of how I would want to change this for all the projects where this is possible:

Before:
[code]

After:
[code]

If anyone has a better idea for how to do this feel free

[2019-10-14 03:47] pathakmayank commented on #206
Hi, dlemstra.
Links to official website for swag giving organistions already exist, but my friend it's a good idea to add direct link to organisations repo for easy access.
As per my suggestion it would be better organised to add  the link in another label like,
**link**: -------------------
Best of luck and happy coding😊😊

[2019-10-14 05:46] dlemstra commented on #206
Instead of adding a link to a repo/organization I would like to add a link to the issues that qualify. Maybe something like this then instead:
**issues**: [#hacktoberfest]()

[2019-10-14 11:40] obulaworld commented on #52
Is this still open?

[2019-10-14 11:42] obulaworld commented on #193
Does this also have to deal with adding the javascript for the scroll up button?

[2019-10-14 14:14] crweiner commented on #193
If you wish to insert a button [like this one](https://github.com/crweiner/hacktoberfest-swag-list/pull/200#issuecomment-541248473) then I'd be happy to take a look! :+1:

[2019-10-14 14:21] crweiner commented on #52
I don't think that Kong is offering unique swag for Hacktoberfest so I am not looking to add them to this list.

[2019-10-14 14:21] #52 closed

[2019-10-14 14:38] crweiner commented on #206
Hay all!

I'd absolutely be up to adding the GitHub repo links to each of the companies on the list as a separate line item if that's something that people will find useful. :+1:

Maybe something like:
[code]

I'd personally be more inclined to do it like this rather than in the header for the company, but this is an open-source project and the will of the people rules!

It's important to note tha

[2019-10-14 18:57] dlemstra commented on #206
I started to added some with the `repo` label but most projects already have a link to the repository. Now moving towards this: `- **Issues**:` with link to the issues of the organization. If they have a tag use `#hacktoberfest` and otherwise just the name of the organization. Will open a PR later that you can review.

[2019-10-15 11:53] ChiragAgarwal7 opened #214 "adding kong to the swag list"

[2019-10-16 20:14] crweiner commented on #214
Hi @ChiragAgarwal7, Kong does not appear to be offering unique swag for Hacktoberfest, rather it's their regular contributor swag that they give out year `round. If that remains the case, then I am not looking to add them to this list. Thanks though!

[2019-10-16 20:14] #214 closed

[2019-10-18 14:01] #50 closed

[2019-10-19 10:48] sahil-9 commented on #156
@crweiner So I feel you should marked this issue as closed?

[2019-10-19 13:33] #156 closed

[2019-10-24 10:56] adriaanvermeire commented on #193
This can be closed now, because of PR #224

[2019-10-24 13:21] crweiner commented on #193
Thanks again!

[2019-10-24 13:21] #193 closed

[2020-09-17 03:35] crweiner opened #249 "Verify Companies for Hacktoberfest 2020 Participation"
Hello World! 🗺️ It's that time of year again; Hacktoberfest time! 🎃 🎉  At a time of social isolation, let's bring people together over the love of open source, learning something new, helping out, and some sweet swag.

We need to go through the list of companies that participated in Hacktoberfest 2019 to see if they are participating again in 2020. The 2019 release of the Swag List can be [found h

[2020-09-22 03:05] crweiner opened #251 "Update kramdown"
The version of kramdown in the [Gemsfile](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/Gemfile.lock) needs to be updated to version **2.3.0** or later. However, there is a dependency getting in the way that requires the older version of kramdown.

For Hacktoberfest, fork this repo, install and update [Jekyll](https://jekyllrb.com/), build the site, and let me know what you think

[2020-09-22 16:53] Khush1801 commented on #251
Hi! Can I work on this?

[2020-09-23 03:16] crweiner commented on #251
Hi @Khush1801! You're more than welcome to work on this. 😄

[2020-09-26 04:34] crweiner commented on #249
Several companies have web pages already up with their unique Hacktoberfest 2020 swag:

- [CircleCI (Orbtoberfest)](https://hacktoberfest.circleci.com/)
- [Nexmo / Vontage](https://developer.nexmo.com/hacktoberfest)
- [JetBrains](https://www.jetbrains.com/lp/hacktoberfest-2020/)

Still need to verify the companies from the [2019 Hacktoberfest Swag List](https://github.com/crweiner/hacktoberfest-sw

[2020-09-29 03:08] crweiner opened #256 "Hacktoberfest 2020 Swag Blocklist"
Sadly, not every company that participates in Hacktoberfest sees the value in being on this Swag List. While this project sends many, many meaningful contributions to amazing open source projects big and small, it will also inevitably lead to some spammy PRs from people just looking for stickers and a shirt. Most companies and maintainers totally understand that; it simply comes with the territory

[2020-09-30 02:09] crweiner opened #257 "Add CircleCI to the 2020 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://hacktoberfest.circleci.com/), [CircleCI](https://circleci.com/) is participating in Hacktoberfest 2020 (which they dub Orbtoberfest) by giving away their own swag.

Please add CircleCI to the 2020 list following the formatting in th

[2020-09-30 02:12] crweiner opened #258 "Add Vontage/Nexmo to the 2020 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://developer.nexmo.com/hacktoberfest), [Vontage/Nexmo](https://developer.nexmo.com/) is participating in Hacktoberfest 2020 by giving away their own swag.

Please add Vontage/Nexmo to the 2020 list following the formatting in the [CONT

[2020-09-30 02:14] crweiner opened #259 "Add JetBrains to the 2020 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://www.jetbrains.com/lp/hacktoberfest-2020/), [JetBrains](https://www.jetbrains.com/) is participating in Hacktoberfest 2020 by giving away their own swag.

Please add JetBrains to the 2020 list following the formatting in the [CONTRIB

[2020-09-30 02:25] crweiner opened #260 "Add MayaData to the 2020 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://blog.mayadata.io/celebrate-hacktoberfest-2020-open-source-with-mayadata), [MayaData](https://mayadata.io/) is participating in Hacktoberfest 2020 by giving away their own swag through their [OpenEBS](https://openebs.io/) and [Litmus

[2020-09-30 02:36] kcclemo commented on #260
I'd like to help with this, please.

[2020-09-30 02:39] monizb commented on #257
Can I do this one?

[2020-09-30 02:54] crweiner commented on #260
You are more than welcome to, @kcclemo! Thank you! Keep in mind that it's too early to count towards Hacktoberfest officially, so be sure to get your 4+ PRs in after October 1st. 😄

[2020-09-30 02:56] crweiner commented on #257
You are more than welcome to, @monizb! Thank you! Keep in mind that it's too early to count towards Hacktoberfest officially, so be sure to get your 4+ PRs in after October 1st. 😄

[2020-09-30 03:00] kcclemo commented on #260
Thank you!

It will probably be that long before I have enough time off work to get to it anyways. :-P

[2020-09-30 03:19] crweiner commented on #260
No problem! I'd love to have this up by the start of Hacktoberfest. I can do it myself, but I like to give other people the chance to contribute. 😄

I mostly have a "_first person to submit a good PR gets the merge_" unwritten rule because I've had people say they'll add to or fix the List, then a week goes by with no PRs when others were willing to take up the Issue. 🙃

So, no Issues will be form

[2020-09-30 04:17] DaffyTheDuck commented on #259
Hello! can I work on this ?

[2020-09-30 04:24] crweiner commented on #259
Absolutely, @DaffyTheDuck!! Keep in mind, it *may* be a bit early to count towards Hacktoberfest's official swag.

I mostly have a "first person to submit a good PR gets the merge" unwritten rule because I've had people say they'll add to or fix the List, then a week goes by with no PRs when others were willing to take up the Issue. 🙃

So, no Issues will be formally assigned to just one person in

[2020-09-30 04:28] crweiner opened #261 "Add Globo to the 2020 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://opensource.globo.com/hacktoberfest/), [Globo](https://github.com/globocom) is participating in Hacktoberfest 2020 by giving away their own swag.

Please add Globo to the 2020 list following the formatting in the [CONTRIBUTING.md](ht

[2020-09-30 04:43] DaffyTheDuck commented on #259
okay!  I'll make a pull request by tomorrow! thanks :smile:

[2020-09-30 05:30] crweiner opened #262 "Add Hasura to the 2020 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://hasura.io/blog/hasura-joins-hacktoberfest-3rd-year-in-a-row/), [Hasura](https://hasura.io/) is participating in Hacktoberfest 2020 by giving away their own swag.

Please add Hasura to the 2020 list following the formatting in the [C

[2020-09-30 05:43] Jassi10000 commented on #261
Can I also make a Pull Request for this issue as am from India and GLOBO is accepting and distributing swags only within Brazillian Territory

[2020-09-30 06:13] RahilRehan commented on #262
Can I take this one?

[2020-09-30 06:28] khushijindal commented on #258
Hey @crweiner! can I take up this issue? I am new to open source and this will be my first contribution to a public repo XD.

[2020-09-30 06:33] flyinspaghetti commented on #262
Can I please take this one?

[2020-09-30 06:52] araut1 commented on #262
I'm up for this.

[2020-09-30 08:05] khushijindal commented on #258
I am done with the work and will make a PR with the starting of Hacktoberfest 2020. 🙂

[2020-09-30 09:33] jnv opened #263 "Add Webiny to the 2020 Hacktoberfest Swag List"
Webiny also participates in Hacktoberfest per this article: https://dev.to/webiny/webiny-hacktoberfest-2020-49h4

[2020-09-30 09:37] DaffyTheDuck commented on #259
I'm done with this work! i'll make the PR by tomorrow ! thanks :smile:

[2020-09-30 13:56] kcclemo commented on #260
Sounds good! I'll add it to my to-do for the first.

[2020-09-30 14:39] crweiner commented on #258
Sweet, @khushijindal! I'm honored that you chose my little project to be your first PR! Be sure to double check your formatting and submit your PR when you're ready. 😎👍

[2020-09-30 14:40] crweiner commented on #262
Hi all!

I mostly have a "_first person to submit a good PR gets the merge_" unwritten rule because I've had people say they'll add to or fix the List, then a week goes by with no PRs when others were willing to take up the Issue. 🙃

So, no Issues will be formally assigned to _just_ one person in particular this year. With Hacktoberfest only a month long, sometimes we've got to be a bit more speed

[2020-09-30 14:41] crweiner commented on #261
Yes, anyone can add a company to the Swag List. 😎👍

[2020-09-30 14:44] Jassi10000 commented on #261
But you wrote in the issue "Please keep in mind, this swag will be limited to only a certain country, so be sure to clearly communicate that in their entry on the Swag List."

I checked their validations for the swags . They are only distributing swags within Brazallian community
So should I do it or not????????

[2020-09-30 14:46] DaffyTheDuck commented on #261
This contribution is different than the contribution in the main repository!

[2020-09-30 14:48] khushijindal commented on #258
I think so if I make the PR now, it will be counted towards Hacktoberfest 2020?

[2020-09-30 14:56] crweiner commented on #263
Sweet! Thanks for bringing this to my attention @jnv! 🎉🎉

Would you like to add them to the Swag List?

[2020-09-30 14:59] jnv commented on #263
Thanks! I don't want to open PR for this, feel free to pick this up.

[2020-09-30 15:12] hugovk commented on #258
Yes, it's already October somewhere in the world!

https://www.timeanddate.com/worldclock/kiribati/kiritimati

[2020-09-30 17:56] avats-dev commented on #263
@crweiner I want to do this. Can I take this up?

[2020-09-30 18:50] avats-dev commented on #263
Opened #275 , take a look. :rocket:

[2020-09-30 21:06] indranil-tiwary commented on #262
Hey @crweiner
I have added the PR #280
Please comment if you need any changes.
Thank you!

[2020-10-01 00:45] Archis19 commented on #249
can I work on this as well?

[2020-10-01 01:07] brecarv commented on #261
@crweiner I would like to work on this issue.

[2020-10-01 01:12] brecarv commented on #261
I would like to work on this issue.

[2020-10-01 02:58] crweiner commented on #258
Added in #266

[2020-10-01 02:58] #258 closed

[2020-10-01 03:13] crweiner commented on #258
By the way, great to see you again @hugovk! I hope you're doing well and it's nice having you around again for Hacktoberfest! 👋

[2020-10-01 03:57] #259 closed

[2020-10-01 04:39] Rugved-HACKER commented on #249
may i help you

[2020-10-01 05:09] crweiner commented on #249
Absolutely@ If you know a company is participating, please add an Issue and submit a PR!

[2020-10-01 05:12] Rugved-HACKER commented on #249
Ok have you merged me in this project

[2020-10-01 05:16] Ameenrehman commented on #256
hello @crweiner ,
there are many organisations which are giving cool swags and T-shirt.
Some of them are Devfolio , Flutterwave.com, JabRef , Kong , Les-Tilleuls.coop , Parity , Uno, Xamarin and many more .
If you want to add these also please tell me i'll do .

[2020-10-01 05:50] crweiner commented on #261
Globo has been added in PR #274

[2020-10-01 05:50] #261 closed

[2020-10-01 06:19] crweiner commented on #260
MayaData has been added in #282 . @kcclemo, please feel free to submit any revisions or updates that you see fit if you wish to! 👍 😄

[2020-10-01 06:19] #260 closed

[2020-10-01 06:22] crweiner commented on #249
You're welcome to submit meaningful pull requests (PRs) that follow the [Hacktoberfest guidelines](https://hacktoberfest.digitalocean.com/details). If they are valid and helpful, then they will be merged into the live site. 👍

[2020-10-01 06:22] crweiner commented on #256
Hi @adriaanvermeire, please use Issue #249 as a place to talk about companies offering Hacktoberfest swag for 2020 instead of here.

[2020-10-01 06:29] Ameenrehman commented on #249
hello @crweiner ,
there are many organisations which are giving cool swags and T-shirt.
Some of them are Devfolio , Flutterwave.com, JabRef , Kong , Les-Tilleuls.coop , Parity , Uno, Xamarin and many more .
If you want to add these also please tell me i'll do .

[2020-10-01 07:15] Aamax14 commented on #263
We are trying

[2020-10-01 10:33] rohitjmathew opened #291 "Add Operation Code To Swag List"
Hi 👋

Operation Code is part of [Hacktober 2020](https://github.com/OperationCode/START_HERE) offering swag.

They are also part of the [2019 list](https://github.com/crweiner/hacktoberfest-swag-list/tree/2019) and not part of the [block list](https://github.com/crweiner/hacktoberfest-swag-list/issues/256)

[2020-10-01 12:15] parshnt opened #293 "Devfolio doesn't ships outside India!"
It is clearly mentioned in the notes on the Devfolio page [here](https://devfolio.co/blog/devfolio-hacktoberfest-2020) that they won't be able to ship outside India, this needs to be added to notes.

![Capture](https://user-images.githubusercontent.com/29176704/94807710-aa1c4f00-040d-11eb-83a6-7dacaf2e7722.PNG)

[2020-10-01 16:23] crweiner commented on #291
Oh yay! It makes me so happy to see them back for another year! They're my example in the [Contributing.md](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md) for a reason; I think they're great! 😄

[2020-10-02 03:19] crweiner opened #305 "Addressing the Hacktoberfest 2020 Spam"
Please [read the official response from DigitalOcean and the Hacktoberfest team here](https://hacktoberfest.digitalocean.com/hacktoberfest-update).

I recently learned that this project was featured in a YouTube video that caused the flood of spam pull requests for Hacktoberfest 2020.

I'm sick to my stomach to see this project manipulated in that way. This project exists to draw attention to comp

[2020-10-02 03:39] monizb commented on #305
@crweiner this act is very sickening and I feel ashamed that it is happening from my country, I own a repo too and most of the PRs I got yesterday were spammy or added no value to the repository. Taking down this repo is in no way to stop these people from making these PRs. I think the best way to tackle this is to have more collaborators on this repository who will review the PRs and mark them sp

[2020-10-02 03:43] monizb commented on #305
I also urge you to look at this article here: https://www.theregister.com/2020/10/01/digitalocean_hacktoberfest_pull_request_spam/

[2020-10-02 04:32] crweiner commented on #257
CircleCI added in #267

[2020-10-02 04:32] #257 closed

[2020-10-02 04:33] crweiner commented on #249
If you could please verify that they are participating in Hacktoberfest 2020 and offering their own unique swag, then I'd love to have them here. 😄

[2020-10-02 04:52] #291 closed

[2020-10-02 04:58] crweiner commented on #305
I've read all about it and I know what's going on; that's why I hate seeing this project dragged through the mud and causing others grief because it was directly shown off in that offending YouTube video. That's why I am leaning towards redirecting traffic to the main Hacktoberfest website instead of HacktoberfestSwagList.com for Indian viewers. Of course, the GitHub repo and all forks still work.

[2020-10-02 05:13] SoftCreatR commented on #256
I've set up some "honeypots", where every PR will be instantly closed, locked and marked as invalid. As per Dev.to, too many invalid PRs may exclude you from the event for lifetime.

[2020-10-02 05:36] #293 closed

[2020-10-02 05:52] eldadfux commented on #305
@crweiner, Appwrite got tons of SPAM yesterday, but I'm not sure about blocking India as a whole is the best solution. We got lots of great maintainers from India and it would seem just wrong to generalise them all. What I would suggest is to add a big bold note against SPAM PR on hacktoberfestswaglist.com, this would at least be a starting point.

[2020-10-02 05:56] peopledrivemecrazy commented on #305
Please check out this action https://github.com/marketplace/actions/check-and-reject-spam-prs to mitigate the problem now and for giggles https://twitter.com/shitoberfest

[2020-10-02 05:58] sparkingdark commented on #305
This should be great to have a separate spam pr reviewer position and creating a repository about the information of the users who are doing spam. Then if we make a bot which take reference from the user blacklist repository and makes the spam pr invalid/spam.

[2020-10-02 06:50] kunalrustagi08 commented on #305
Please try this https://twitter.com/github/status/1311772722234560517?s=20 if it helps. 🤞🏽

[2020-10-02 06:55] crweiner commented on #305
I've added that now in https://github.com/crweiner/hacktoberfest-swag-list/commit/4ee1fc7d5312bf1674188bdab596dae60f9edf19. Let me know if that looks ok, @eldadfux

@peopledrivemecrazy, @sparkingdark, and @kunalrustagi08, the problem isn't so much me keeping up with the PRs here, it's the damage that is caused by people starting on my project then attacking companies on the list with spam PRs. I d

[2020-10-02 07:02] eldadfux commented on #305
@crweiner LGTM, now we just need to hope it will help to some degree 🤞🏻

[2020-10-02 07:12] rohitjmathew opened #309 "Fix Typos in Operation Code Entry"
Hi 👋

Found a few typos in the Operation Code Entry and also found `Tshirt` missing as a part of the entitled swag.

[2020-10-02 07:39] rohitjmathew commented on #305
@crweiner @eldadfux I understand at the end of the day its down to the individual and their value system but a small suggestion we can do is that we show a pop up on page load describing quality standards as described on the [Hacktober](https://hacktoberfest.digitalocean.com/details/#quality) site. Maybe this discourages people from doing this? What are your thoughts on this?

[2020-10-02 11:44] ritwikchakraborty123 commented on #263
Sir I want to contribute

[2020-10-02 11:44] ritwikchakraborty123 commented on #263
Or any collaborate work will be fine for me

[2020-10-02 11:45] ritwikchakraborty123 commented on #249
Hai I want to contribute

[2020-10-02 12:52] indranil-tiwary commented on #305
@crweiner It's sad to see the surge for wrong purposes. I had hosted hacktoberfest 2018 and loved the collaboration in open source. But even if people are coming in more its good to see that people are celebrating open-source. The only issue we need to tackle is spam PRs.

[2020-10-02 15:35] SahilSayani commented on #309
HI I'd like to take this issue up as i'm just a beginner and it would be great to gain some experience!

[2020-10-02 15:40] SahilSayani commented on #251
HI I AM A BEGINNER CAN I WORK ON THIS PLEASE?

[2020-10-02 15:44] #309 closed

[2020-10-02 18:46] crweiner commented on #305
I'm up for trying a pop up message. Would anyone be able to help create a message and translate it into Hindi or other languages?

[2020-10-02 19:07] SoftCreatR commented on #305
@crweiner Did you delete my comment?

[2020-10-02 19:12] crweiner commented on #305
No, I don't delete comments! Are you [referring to this one?](https://github.com/crweiner/hacktoberfest-swag-list/issues/256#issuecomment-702528894)

[2020-10-02 19:51] SoftCreatR commented on #305
Aww, sorry 😄

[2020-10-03 04:13] crweiner commented on #263
All meaningful contributions that actually try to make this project better are welcome. ❤️❤️

[2020-10-03 04:56] khushijindal commented on #305
It is wrong that people are distorting to spammy pull requests to win some swag, which is for the motivation of people to come and contribute to open-source projects. But the solution of redirecting the whole of India is not the right solution as there are people from India too who want to learn and grow. @crweiner I can help translate to Hindi.

[2020-10-03 05:47] crweiner commented on #262
Added in #271

[2020-10-03 05:47] #262 closed

[2020-10-03 06:16] #251 closed

[2020-10-03 06:52] crweiner commented on #263
Added in #275

[2020-10-03 06:52] #263 closed

[2020-10-03 15:47] indranil-tiwary commented on #305
I can do that @crweiner

[2020-10-03 17:38] hugovk commented on #305
Since the spam video was made private yesterday (https://twitter.com/florinpop1705/status/1311952466758504449) the spam flood stopped pretty quickly, at least from what I've seen.

Does that match up with this repo's stats?

And this was quite some time before Hacktoberfest's changes (https://hacktoberfest.digitalocean.com/hacktoberfest-update).

[2020-10-03 21:56] aslafy-z commented on #305
In the two last hours, https://github.com/Joonsang1994/free-tshirts-stickers-and-swag-for-developers got a lot of spam PRs... A new video ?

[2020-10-03 22:03] hugovk commented on #305
They were _closed_ 2 hours ago. Most were opened 2 days ago; the newest 15 hours ago, a bit of an outlier it seems.

[2020-10-04 03:00] crweiner commented on #305
Thank you all for keeping your eyes on this issue and I'm happy to share that things have calmed down significantly.

@hugovk is right; since the video in question went to private as well as the [large change to make Hacktoberfest opt-in](https://github.com/digitalocean/hacktoberfest/pull/596), I have noticed a very measurable decrease in spam and a stabilization of views to this repo and the webs

[2020-10-04 03:31] sparkingdark commented on #305
Hey I can translate it in Bengali if required.😃

[2020-10-04 05:13] eldadfux commented on #305
@crweiner, thank you for handling this so well and being so responsive and aware of the community concerns. Things look back to normal, and we still have 27 great days to enjoy Hacktoberfest 🤩.

[2020-10-04 05:22] sparkingdark commented on #305
Yes and Digitalocean take several good steps to stop this.

[2020-10-04 05:58] sparkingdark opened #331 "Want to add umbraco in swag list"
Here is a company called umbraco offering the swags.
 https://umbraco.com/blog/hacktoberfest-2020/.
I want to add this to the repositorty.

@crweiner

[2020-10-04 05:59] sparkingdark opened #332 "Want to add umbraco to the list"
Here is a company called umbraco offering the swags.
 https://umbraco.com/blog/hacktoberfest-2020/.
I want to add this to the repositorty.

@crweiner

[2020-10-04 06:26] #332 closed

[2020-10-04 07:47] crweiner commented on #331
Hi @sparkingdark, they are on the block list. Please see Issue #256. They have asked not to be Hacktoberest Swag List and I will be honoring that wish. #156 from last year shows their thoughts regarding this repo and how they wish to celebrate Hacktoberfest.

I'd love to have them here, but I said I'd keep them off, so I shall keep my word. Better luck next year. 👍

[2020-10-04 07:47] #331 closed

[2020-10-04 09:21] sparkingdark commented on #331
Thanks for the information.

[2020-10-04 12:18] DeltaCoderr commented on #305
ikr

[2020-10-05 03:18] ramadh-xic opened #338 "Hacktoberfest-accepted"

[2020-10-05 03:19] #338 closed

[2020-10-06 19:12] tanishqchamola commented on #305
@crweiner Hey, I will be happy to help in translating to Hindi. 😄

[2020-10-18 15:50] prithvidiamond1 commented on #305
@crweiner I believe this problem is due to the fact that no matter how good or bad your pull requests are, if you can sneak as many as require in (which is so very possible given the amount of spam that each maintainer has to deal with), you get swag. Currently there is no in between a good or bad accepted pull request. Every accepted pull request counts and this will only fuel these spam contribu

[2020-10-21 03:26] crweiner opened #361 "Add Jekyll Target Blank Gem"
I am trying to get the Jekyll gem [Jekyll Target Blank](https://rubygems.org/gems/jekyll-target-blank) to work on this site so that links automatically open in a new tab in PR #359. However, even after [following these setup steps](https://keith-mifsud.me/projects/jekyll-target-blank), it doesn't seem to work.

Anyone have any thoughts on what I am missing here? I assume that an older dependency i

[2020-10-21 04:05] strawberries73 commented on #361
Hello @crweiner , I am fairly new.  I would like to try this issue.

[2020-10-21 04:41] crweiner commented on #361
Hey there @strawberries73! 👋 Thanks for the help! Anyone who wants to is free to dive right in. 😊👍

[2020-10-21 16:08] strawberries73 commented on #361
Can you tell me the steps to run it after I have cloned the fork?

[2020-10-21 16:19] strawberries73 commented on #361
My apologies... I did not realize it was Ruby.  I am not familiar with Ruby.  I will opt out sorry.

[2020-10-22 19:24] crweiner commented on #361
Hey @strawberries73! No need to apologize and I'm sure you can do it!! You don't need to dive into Ruby at all, Jekyll just runs on top of Ruby. It's really [easy to install and use](https://jekyllrb.com/docs/installation/) and you don't need to manually code anything at all. This site uses [Jekyll with Bundler and you can read about it here](https://jekyllrb.com/tutorials/using-jekyll-with-bundle

[2020-10-23 23:03] strawberries73 commented on #361
I will give it a look soon.  I just finished Midterm/assignments and PR 3 for Hacktoberfest.  My weekend is busy so I can only promise Monday. :)

[2020-10-28 12:31] crweiner commented on #361
Added in #366 👍

[2020-10-28 12:31] #361 closed

[2020-10-28 12:31] crweiner commented on #249
Closing due to Hacktoberfest 2020 almost being over and it appears that all companies who are participating are already on the list. 😄

[2020-10-28 16:29] remigioamc commented on #249
So sad you close de issue, just find out gatsby is offering [special edition glow in the dark Gatsby sticker, exclusively for Hacktoberfest contributors](https://github.com/gatsbyjs/gatsby/issues/27222).

Would you mind if I create the PR @crweiner ?

I'm really trying to make it this year but just start yesterday (a really complicated month)

[2020-10-28 16:32] crweiner commented on #249
Hi @remigioamc! Yes, absolutely! Go ahead and submit a PR, you're all good ❤️

[2020-11-05 15:56] crweiner commented on #249
Hacktoberfest 2020 is a wrap! Thank you so much to everyone who contributed to the Swag List and I hope you enjoy your sweet nerdy stuff! This repo will have the official 2020 release and tags soon.

Looking forward to an even better 2021 for us all. ❤️❤️

[2020-11-05 15:56] #249 closed

[2020-11-05 15:58] crweiner commented on #305
I am very happy that the spam problem went away so quickly and additional measures didn't need to be taken to address it.

Thank you all for a wonderful Hacktoberfest 2020 and for all of your great contributions to the projects you love and the Swag List. ❤️❤️

I'll have a full writeup of how this year went on my [blog in a few weeks](https://chandlerweiner.com).

You all rock! Thank you again! ❤️

[2020-11-05 15:59] #305 closed

[2020-11-05 16:01] #256 closed

[2021-08-25 05:02] renovate[bot] opened #379 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency ruby to v3](../pull/369)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [Update cimg/ruby Docker tag to v3]

[2021-09-14 01:53] LorenDB opened #381 "Update for Hacktoberfest 2021"
It's Preptember, and hopefully we will have lots of companies and organizations with swag offers this year. I recognize that it is a bit early for a 2021 update right now, but I'm submitting this issue anyway in the spirit of readiness.

[2021-09-14 02:22] crweiner commented on #381
Hey @LorenDB! 👋  You're absolutely correct and it's not too early; you're right on time! This is exactly the kick I needed to clean things up from 2020 and get ready for 2021. 😄

In the meantime, while I get this repo ready for another great year, be sure to sign up for all of the official Hacktoberfest news at: https://hacktoberfest.digitalocean.com

Thank you for the reminder and let's have a wo

[2021-09-14 03:06] crweiner opened #383 "Verify Companies for Hacktoberfest 2021 Participation"
Hello beautiful nerds! 🤓  👋  It's that time of year again!! **Happy Hacktoberfest!!** 🍂 🎃 🎆

![logo-hacktoberfest-full2 59799061](https://user-images.githubusercontent.com/23106097/133188169-6704b7d9-d4d8-4168-8ff4-8130477244f3.jpg)

With everyone stuck at home for another year, I'm sure many people have either taken the time to work on their coding skills or really, really want to get started lea

[2021-09-14 03:41] crweiner commented on #381
A new Issue has been opened in #383 and a PR merged in #382 to get the Swag List ready for Hacktoberfest 2021!! If you know of any companies offering swag for 2021, please post about it in #383. 😄  👍

[2021-09-14 11:26] LorenDB commented on #381
Looks like you have 2021 under control!

[2021-09-14 11:26] #381 closed

[2021-09-21 11:57] crweiner commented on #383
AppWrite is participating again with unique swag, and they're going all out! 😎

[Confirmation tweet](https://twitter.com/eldadfux/status/1440282774045278214?s=19)

[AppWrite Hacktoberfest Website](https://hacktoberfest.appwrite.io/)

[2021-09-22 17:45] tcarreira opened #384 "[SEO] improve for URL sharing"
When sharing this website on social platforms, there is no website preview because there are no proper meta tags for showing everything correctly.

We can test it on:
- https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fhacktoberfestswaglist.com%2F
- https://cards-dev.twitter.com/validator

The [Jekill SEO Tag](https://github.com/jekyll/jekyll-seo-tag/blob/master/docs/usage.md) plugin is

[2021-09-22 18:16] crweiner commented on #384
Hey @tcarreira !👋

Great idea, this is a very easy thing to add for sure.

I took a look at the rendered HTML for the home page and saw this starting on line 7:
[code]

Maybe ```jekyll-sitemap``` is also adding the above, or the theme is? I'd have to look at the dependencies.

Either way, yeah, let's get that done. Seems easy enough to add! Great idea! 👏👏🤓🤓👍👍

[2021-09-23 07:54] tcarreira commented on #384
I'll do it. ;)

[2021-09-23 17:44] #384 closed

[2021-09-27 12:07] crweiner commented on #383
LoginRadius is going to give out their own shirt!

https://www.loginradius.com/blog/async/hacktoberfest-2021/

I'm going to start reaching out to last year's companies on Twitter and anyone can feel free to post unique swag they find for Hacktoberfest 2021!

[2021-09-28 05:27] Pranjalmishra30 commented on #383
Milvus is participating in Hacktoberfest 2021
https://milvus.io/hacktoberfest-2021/

[2021-09-28 14:59] crweiner commented on #383
Awesome job finding new companies, @Pranjalmishra30! It's great to see new companies offering unique swag this year! Yes, absolutely feel free to submit a PR adding them to the list. 👍👍

[2021-09-28 16:33] Pranjalmishra30 commented on #383
Thanks a lot. Is it allright if i open my PR after 1 oct so they count for hacktoberfest :)

[2021-09-28 17:18] crweiner commented on #383
You *can* wait, but I would advise against it. I'm sure there are many more meaningful contributions you can make during Hacktoberfest. Also, I'd like to have as near-complete a list as possible in the first 48 hours. Anyone can submit useful PRs, so someone else may add them before you raise a PR.

[2021-09-30 02:17] HarshKumarChoudary commented on #383
What we have to do basically is to make a list of companies participating companies for Hacktober fest 2021, right? And then Make PR.

[2021-09-30 02:18] HarshKumarChoudary commented on #383
If this is what we have to do, Then please assign this task to me. Thanks.

[2021-09-30 02:28] crweiner commented on #383
Hello @HarshKumarChoudary! 👋 Yep, we're gathering companies that have already announced their participation in Hacktoberfest and are offering unique swag. If you find some great companies/people doing just that, then feel free to post about them here in this Issue or raise a PR to add them to the Swag List!

This isn't a job for just one person, as Hacktoberfest is all about the community. Looking

[2021-09-30 02:41] crweiner commented on #383
[LoginRadius](https://www.loginradius.com/blog/async/hacktoberfest-2021/) is offering their own unique Hacktoberfest swag this year! 🔒

[2021-09-30 15:07] crweiner opened #393 "Hacktoberfest: Change the color of Octocat and back to top buttons to match this year's theme"
This is a great Issue for a beginner to tackle for [Hacktoberfest](https://hacktoberfest.digitalocean.com/)! 🎃 🍂

This repo uses Jekyll to generate a static site, hosted on Netlify at [Hacktoberfestswaglist.com](https://hacktoberfestswaglist.com). To make things a little easier to navigate, [Vanilla Back To Top](https://github.com/vfeskov/vanilla-back-to-top) is [embedded here](https://github.com/

[2021-09-30 15:27] JanviRaina commented on #393
Hey! I found this interesting and I would like to work on this.

[2021-09-30 15:32] krishna16sharma commented on #393
Hi! Please review my pull request solving this issue.
Thanks!

[2021-09-30 15:33] crweiner commented on #383
Milvus is also offering unique swag this year! 😎😎

https://discuss.milvus.io/t/join-hacktoberfest-2021-with-us/72

[2021-09-30 20:01] rohitjmathew commented on #383
[Globo](https://hacktoberfest.globo.com/) have returned this year as well. Adding a PR for them

[2021-09-30 20:22] rohitjmathew commented on #383
[Mattermost](https://mattermost.com/blog/hacktoberfest-2021/) have returned this year as well. Adding a PR for them

[2021-09-30 20:41] Amulya77 opened #399 "I want to add a tic tac toe project based on c++ and minimax algorithm"
This is my first ever open source contribution and I want to add a tic tac toe project based on c++ and minimax algorithm

[2021-10-01 02:08] HarshKumarChoudary commented on #383
app smith is participating in Hacktober Fest 2021 with swags.

[2021-10-01 02:10] HarshKumarChoudary commented on #383
how to create a pull request here?

[2021-10-01 02:16] HarshKumarChoudary commented on #383
How to Create Pull Request on this?

[2021-10-01 03:20] PurviBhoyar21 commented on #399
Hello @crweiner
I am a contributor participating in hacktoberfest 2021
I would love to do this project of c++.
Please assign me this issue
so that I can start working on it as soon as possible.
Thank you

[2021-10-01 04:10] crweiner commented on #383
Appsmith was added in #388. If you need help getting started with your first pull request, I'd suggest [reviewing GitHub's docs](https://docs.github.com/en/github/collaborating-with-pull-requests) or searching around for the tons of blog posts and articles to help first-time contributors use Git, GitHub, and understand PRs. 😄

[2021-10-01 04:11] crweiner commented on #393
Thank you for the help! 👍 Closed via #394

[2021-10-01 04:11] #393 closed

[2021-10-01 05:21] crweiner commented on #399
Hey @PurviBhoyar21 and @Amulya77, thanks for checking out the Hacktoberfest Swag List!

PRs and contributions such as this are not necessary and cause frustration in repo maintainers like myself. Copying and pasting a wall of code from some other site isn't helpful and isn't in the spirit of Hacktoberfest.

I'd also like to remind you that view the [Hacktoberfest Quality Standards](https://hacktob

[2021-10-01 05:21] #399 closed

[2021-10-01 05:26] crweiner opened #401 "Add LoginRadius to the 2021 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://www.loginradius.com/blog/async/hacktoberfest-2021/), LoginRadius is participating in Hacktoberfest 2021 by giving away their own swag.

Please add LoginRadius to the 2021 list following the formatting in the [CONTRIBUTING.md file.](

[2021-10-01 05:28] crweiner opened #402 "Add Milvus to the 2021 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://milvus.io/hacktoberfest-2021/), Milvus is participating in Hacktoberfest 2021 by giving away their own swag.

Please add Milvus to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hac

[2021-10-01 05:35] Araon commented on #401
Can this assigned be assigned to me? @crweiner

[2021-10-01 05:35] Mridulbirla13 commented on #402
Hey, I would like to fix issue #402

[2021-10-01 05:37] crweiner commented on #401
I don't typically assign Issues to one person; anyone is welcome to submit a meaningful PR for me to review. 👍

[2021-10-01 05:38] crweiner commented on #402
You're welcome to take a crack at it! Anyone else can too! Looking forward to the PR. 👍

[2021-10-01 08:40] SahityaRoy opened #407 "Eduhub Community Swag List"
From Eduhub Community we will be providing top contributor from our repository
1. Cap
2. Sticker
3. 50 Amazon Voucher

[2021-10-01 13:40] #401 closed

[2021-10-02 04:10] crweiner commented on #402
Closed in #408

[2021-10-02 04:10] #402 closed

[2021-10-02 04:11] crweiner opened #421 "Add MayaData & OpenEBS to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://blog.mayadata.io/celebrate-hacktoberfest-2021-support-open-source-with-mayadata-openebs), Maya Data and OpenEBS are participating in Hacktoberfest 2021 by giving away their own swag.

Please add them to the 2021 list following the f

[2021-10-02 04:13] crweiner opened #422 "Add Zup to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://insights.zup.com.br/hacktoberfest), ZUP is participating in Hacktoberfest 2021 by giving away their own swag.

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hack

[2021-10-02 04:15] crweiner opened #423 "Add Stack Builders to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest! If you want for this to count towards Hacktoberfest, please submit your PR on October 1st!

Per [here](https://www.stackbuilders.com/news/it-s-hacktoberfest-time), Stacj Builders is participating in Hacktoberfest 2021 by giving away their own swag.

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](http

[2021-10-02 04:16] crweiner commented on #383
Hey all you amazing nerds! 🤓 If you find a new company offering swag feel free to start your own Issue to document it. You can also submit a PR to add them if you wish to! I'll close this issue for now because we're good to go and well underway for Hacktoberfest 2021. 👍

[2021-10-02 04:16] #383 closed

[2021-10-02 04:25] beheradibas commented on #423
Can I work on this?

[2021-10-02 04:46] beheradibas commented on #423
@crweiner Stack Builders participated in Hacktoberfest 2020, and their website still shows details for HacktoberFest2020. So, is the organization participating this year too?
If it is participating, I would be delighted to be assigned this issue.

[2021-10-02 04:51] Mridulbirla13 commented on #422
Hey @crweiner , I would like to contribute in this issue.

[2021-10-02 04:56] riyaku11 commented on #421
I would like to work on this

[2021-10-02 05:02] crweiner commented on #423
I believe that they are based upon the Google Doc they linked to in their Hacktoberfest blog post: https://docs.google.com/forms/d/1C6ECEGE2pk3mNmeGhh4cct4Uf-lvJ4xu0ufDym612R4/viewform?edit_requested=true

[2021-10-02 05:03] crweiner commented on #422
Everyone is welcome to! Go right ahead! 👍 Looking forward to your PR. 😁

[2021-10-02 05:04] crweiner commented on #421
Everyone is welcome to try and submit a PR! 👍😁

[2021-10-02 05:16] beheradibas commented on #423
I have gone through their blog and I can add the necessary details to README.md. Please assign me this issue.

[2021-10-02 06:25] Rathore-Devraj commented on #422
I would like to contribute in this issue.

[2021-10-02 08:06] tabhay563 commented on #423
Can i work on this issue please assign me

[2021-10-02 21:01] crweiner commented on #421
This one is still open for anyone!! I'd love to give a PR to have someone else add them to the Swag List instead of me!

[2021-10-02 21:02] crweiner commented on #407
Hello @SahityaRoy! That's super awesome to hear! Do you happen to have a blog post, tweet, article, etc showing that you're offering this swag? I need a little more info to put into PR #413 , like providing a link verifying your swag and requirements.

Thank you! 😄

[2021-10-03 02:16] jigarvyasidea commented on #421
I would like to work on this

[2021-10-03 02:21] crweiner commented on #421
Please do, @jigarvyasidea! I've been wanting to get them on the list all day and was about to do it myself. 😅

[2021-10-03 02:23] crweiner opened #430 "Add NativeScript to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://twitter.com/NativeScript/status/1443768781931638784) and [here](https://blog.nativescript.org/hacktoberfest-2021/index.html), NativeScript is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crw

[2021-10-03 03:53] crweiner commented on #422
Closed via #424

[2021-10-03 03:53] #422 closed

[2021-10-03 04:15] AnuragYadav365 commented on #430
Hey, @crweiner I would like to contribute to this issue! Should I make a PR regarding this?

[2021-10-03 04:18] crweiner commented on #430
@AnuragYadav365 You're absolutely welcome to! If you also wrap up some things in PR #425, I can get that merged and on the live list too. 😄

[2021-10-03 04:47] AnuragYadav365 commented on #430
@crweiner sure! 👍

[2021-10-03 06:27] Aniket-508 commented on #430
@crweiner Hey, can I work on this issue since its not already assigned?

[2021-10-03 06:35] AnuragYadav365 commented on #430
Hey @Aniket-508 good to see that you are interested in this issue, I am already working on this issue! Just going to make a PR in few minutes. 👍

[2021-10-03 17:17] jawariaalvi32 commented on #421
I would like to do this

[2021-10-04 07:57] vikramadityasinghs commented on #423
could i work on this? seems like its hacktoberfest inception would be fun!

[2021-10-04 09:37] gauravgupta45 commented on #421
Hey @crweiner, I believe there is no recent update on this issue, so taking up this. Creating PR asap.

[2021-10-04 10:06] gauravgupta45 commented on #421
PR done. Let me know if I missed anything. #441

[2021-10-04 12:08] crweiner commented on #423
Added in #436

[2021-10-04 12:08] #423 closed

[2021-10-04 12:09] crweiner commented on #430
Added in #436

[2021-10-04 12:09] #430 closed

[2021-10-04 18:03] crweiner commented on #421
Added in #441

[2021-10-04 18:03] #421 closed

[2021-10-05 07:56] AlexInes opened #442 "Overlaping github info with footer."
Hey,
I am using Firefox 92.0.1 (64-bit) on macOS Big Sur v. 11.6 13 inch macbook.
At the very end of you page footer info overlap with github badges. Just moving footer text might solve it.

<img width="1275" alt="Screenshot 2021-10-05 at 09 49 01" src="https://user-images.githubusercontent.com/9095124/135983048-96b4a48e-0138-4105-acd8-6b78b24b514e.png">

[2021-10-05 21:52] crweiner commented on #442
Hey @AlexInes! Thank you for pointing this out! I've also got a 13" MacBook Pro and noticed that issue. It's just an odd screen size, I guess. 🤷

Believe it or not, this was even worse, as brought up in Issue #93 and fixed in PR #122.

If you want to submit a PR to try and fix this, please go ahead! Otherwise, I can tackle it in a bit. 👍

Hope you're having a good Hacktoberfest! 😎😎

[2021-10-06 09:47] AlexInes commented on #442
I would love too!

[2021-10-06 13:46] crweiner opened #445 "Add OSS Port / CodeSee to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://www.oss-port.com/swag/), CodeSee's OSS Port project is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)

You will need to locate the

[2021-10-06 13:47] crweiner opened #446 "Add Bitrise to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://www.bitrise.io/hacktoberfest-2021), Bitrise is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)

You will need to locate the type of

[2021-10-06 13:50] crweiner opened #447 "Add NMF.earth to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://medium.com/@nmf_earth/hacktoberfest-2021-carbon-diary-sustainable-guide-32fb4e5323c1), NMF.earth is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/

[2021-10-06 14:12] crweiner opened #448 "Add Switchblade to the 2021 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/SwitchbladeBot/switchblade/issues/1203), Switchblade is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)

You will need t

[2021-10-06 15:17] #447 closed, assigned to nobody

[2021-10-06 16:16] #442 closed

[2021-10-06 16:28] r-sreesaran commented on #448
can i  work on this ?

[2021-10-06 16:38] crweiner commented on #448
Absolutely! Anyone is welcome to submit a meaningful PR. 👍

[2021-10-06 16:53] crweiner commented on #446
Added in #450

[2021-10-06 16:53] #446 closed

[2021-10-06 17:57] crweiner commented on #445
Hey @tacoelho! I don't tend to assign Issues, but you're absolutely welcome to submit a PR. 👍

[2021-10-06 22:53] crweiner opened #454 "Add DagsHub to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://dagshub.com/blog/hacktoberfest-x-dagshub-2/) and [here](https://mobile.twitter.com/TheRealDAGsHub/status/1445737690737954820?t=lCXB0SDKR_ypJhNYSUIvIQ&s=19), DagsHub is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md fil

[2021-10-06 22:58] crweiner opened #455 "Add Creative Tim to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://www.creative-tim.com/blog/creative-tim/open-source-projects-for-hacktoberfest) and [here](https://mobile.twitter.com/CreativeTim/status/1445731588369621003?t=MlAJyVx9RLtHu-X0zVQi9w&s=19), Creative Tim is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the fo

[2021-10-07 16:42] crweiner commented on #445
Added in #452

[2021-10-07 16:42] #445 closed

[2021-10-07 19:27] crweiner commented on #455
This is still open for someone to add! 👍

[2021-10-08 04:36] areyaar commented on #455
Please Review my PR

[2021-10-08 05:16] sbalikondwar opened #462 "Add Symbl.ai to hacktoberfest swag list"
Hi guys,
We people at Symbl.ai are celebrating hacktoberfest for the first time. We have some repositories open-sourced for developers to contribute. We also have cool swags planned, for more information, I will create a PR and add it to this list.

Website: http://symbl.ai

[2021-10-08 05:21] crweiner commented on #462
Good to know, @sbalikondwar! Thanks for letting us know you're going the extra mile for Hacktoberfest! Please be sure to also include a link to an official blog post, tweet, or something to verify the swag that Symbl.ai is offering. 👍

[2021-10-08 09:06] areyaar commented on #455
I already did a PR before you

[2021-10-08 09:24] baznamit commented on #455
Ohh bro.

[2021-10-09 19:51] crweiner commented on #462
Thank you all! Added in #467. 👍 🎆 😄

[2021-10-09 19:51] #462 closed

[2021-10-11 14:36] crweiner opened #472 "Add StepZen to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://stepzen.com/blog/announcing-stepzens-hacktoberfest-goals-21), StepZen is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)

You will

[2021-10-11 14:38] crweiner opened #473 "Add ToolJet to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://blog.tooljet.io/hacktoberfest-2021/), ToolJet is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)

You will need to locate the type

[2021-10-11 14:39] crweiner opened #474 "Add Legesher to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/legesher/legesher/issues/90), Legesher is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)

You will need to locate the t

[2021-10-11 14:45] crweiner opened #475 "Add devICT to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://devict-hacktoberfest.herokuapp.com/), devICT is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)

You will need to locate the type o

[2021-10-11 17:28] Kushagra-Chauhan commented on #473
Hi, Sir I have added the description of ToolJet. Please suggest me If I'm getting somewhere wrong.

[2021-10-11 18:49] saisumanthkumar commented on #474
@crweiner I'd like to work on this,could you assign me

[2021-10-12 01:07] YuriCodes commented on #475
Hello! I'd like to help with this : )

[2021-10-12 04:47] #475 closed, assigned to nobody

[2021-10-12 05:12] crweiner commented on #472
Hey @ManishOffi! 👋 I don't typically assign Issues. Feel free to submit a PR! 👍

[2021-10-12 15:51] moingshaikh opened #485 "Add Meedan to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://meedan.com/hacktoberfest#details), Meedan is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md).

You will need to locate the type of s

[2021-10-12 16:15] moingshaikh opened #486 "Add Umbraco to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://umbraco.com/blog/hacktoberfest-2021-contribute-to-the-all-new-umbraco-9/), Umbraco is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.m

[2021-10-12 16:29] #486 closed, assigned to nobody

[2021-10-12 16:34] crweiner commented on #486
No worries, thanks for being on the lookout for more opportunities! 👍

[2021-10-12 16:45] #474 closed

[2021-10-12 17:32] #473 closed, assigned to nobody

[2021-10-13 04:52] #472 closed, assigned to nobody

[2021-10-14 17:25] saurabh042 opened #493 "[Typo] Spelling typo of have in Readme.md"
[Typo] Spelling typo of have in Readme.md
- Spelling of have is mentioned as havve under ToolJet Section. Should be 'have'

[2021-10-14 17:35] saurabh042 commented on #493
sure. Thanks

[2021-10-14 17:44] saurabh042 commented on #493
@crweiner could you please review this PR #494

[2021-10-15 05:21] #493 closed, assigned to nobody

[2021-10-15 05:26] crweiner opened #498 "Add Sourcegraph to the Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://dev.to/sourcegraph/happy-hacktoberfest-from-sourcegraph-2dc3) and [here](https://twitter.com/sourcegraph/status/1448758135511003139?s=20), Sourcegraph is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://gi

[2021-10-15 07:02] nicoolel commented on #498
hi, can i work on this issue?

[2021-10-15 16:07] crweiner opened #500 "Add the Memorial University Computer Science Society to the 2021 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://muncompsci.ca/events/hacktoberfest-2021/), the Memorial University Computer Science Society (MUNCSS) is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/mas

[2021-10-15 16:14] nicoolel commented on #500
Will be doing this one. Thanks, @crweiner :)

[2021-10-15 16:15] #498 closed, assigned to nobody

[2021-10-16 02:45] crweiner commented on #500
Closed in #501

[2021-10-16 02:45] #500 closed

[2021-10-16 08:29] Shweta200126 opened #502 "The favicon can lose it's background and be transparent instead"
The favicon as you can see has white background around it (in square/ rectangle) , you can see here:
![image](https://user-images.githubusercontent.com/72426535/137580317-dcad9ce9-62a5-4dfb-ae6a-514fa7a0b734.png)

I understand it's not a big thing but I'll appreciate it, if it could be changed to this instead, without a background
![H-icon-light](https://user-images.githubusercontent.com/72426535/

[2021-10-16 13:31] baznamit commented on #502
That's better. 👍

[2021-10-16 15:04] Shweta200126 commented on #502
Cool, will do it just now :)

[2021-10-17 00:27] 5hraddha commented on #502
Hey @crweiner, can I work on this?

[2021-10-17 02:22] crweiner opened #505 "Add Devtron to the 2021 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/devtron-labs/hacktoberfest2021), Devtron is participating in Hacktoberfest 2021 by giving away their own swag. 😄

Please add them to the 2021 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/CONTRIBUTING.md)

You will need to locate the

[2021-10-17 02:49] crweiner commented on #502
Hey all! The favicon comes from the ```jekyll-seo-tag``` gem, which is a dependency of ```github-pages``` [found here](https://github.com/crweiner/hacktoberfest-swag-list/blob/97a0b84a44496ce345ee416603aff9f44e9e7fc3/Gemfile#L2). It presents the ```favicon.ico``` file [located here](https://github.com/crweiner/hacktoberfest-swag-list/blob/97a0b84a44496ce345ee416603aff9f44e9e7fc3/favicon.ico).

I'm

[2021-10-17 03:04] areyaar commented on #505
Assign Me!

[2021-10-17 05:00] crweiner commented on #505
Hey @areyaar, I don't typically assign Issues. Anyone is welcome to submit a PR following the Contributing docs. 👍

[2021-10-17 05:29] crweiner commented on #505
OMG, I must be blind! Thank you @shiningflutes! I don't know how I missed that! 😅

[2021-10-17 05:29] #505 closed

[2021-10-17 05:54] #502 closed

[2021-11-24 16:16] #407 closed

[2022-01-05 19:35] AmirNaghibi opened #516 "Did anyone get their hacktober 2021 swag?"
I know this is not related but I couldn't find any information online. Feel free to close it after a while.

I'm from Canada and filled out the swag form in October 2021 but still haven't received anything.

[2022-01-06 01:05] crweiner commented on #516
Hey @AmirNaghibi! 👋

No, I don't believe so. I haven't gotten my official swag yet. Usually the [Hacktoberfest Twitter account](https://twitter.com/hacktoberfest) is good at retweeting when people post pics of their swag and I haven't seen any yet.

Please share pics when you do! Hope you had a great Hacktoberfest! 🤓

[2022-01-06 01:05] #516 closed

[2022-09-12 15:50] crweiner opened #528 "Verify Companies for Hacktoberfest 2022 Participation - Setup The Hacktoberfest Swag List for 2022"
Hello amazing Hacktoberfest community! 👋 🤓 It's that time of year again; Happy Hacktoberfest!!! 🍂  🌲 👕

<img width="576" alt="Hfest-Logo-2-Color-Manga@2x" src="https://user-images.githubusercontent.com/23106097/189694999-1bedd863-a11b-49ea-a106-28a2973b806a.png">

Check out the sweet new site over at https://hacktoberfest.com/ for this year 🤯

I hope you all are doing well, wherever you are in the

[2022-09-12 16:24] crweiner commented on #528
Looks like [Camunda](https://camunda.com/hacktoberfest2022/) is participating this year with both swag and planting trees! 👕 🌲

[2022-09-13 16:07] crweiner commented on #528
Hi @IamGuneet! 👋 Good question! [The rules for PRs can be found here](https://hacktoberfest.com/participation/#pr-mr-details). In summary:

* The repo itself must be tagged as `hacktoberfest`, to show that they are opted-in for Hacktoberfest, and the PR must be merged, labeled as `HACKTOBERFEST-ACCEPTED`, or receive an approving review.
_or_
* Your PR must be labeled `HACKTOBERFEST-ACCEPTED` in an

[2022-09-13 16:28] IamGuneet commented on #528
@crweiner Thank you.

[2022-09-27 20:10] crweiner commented on #528
[Appwrite](https://hacktoberfest.appwrite.io/?utm_source=web&utm_medium=swaglist&utm_campaign=hacktoberfest) is back for Hacktoberfest 2022! We're incredibly lucky to have them and they will be sponsoring the Hacktoberfest Swag List for the second year in a row! 🎉  [Here's their blog post for this year](https://appwrite.io/hacktoberfest)

[2022-09-29 18:50] tanmoy27112000 opened #542 "Add new company to the company list who are giving swags for contribution"

[2022-09-29 19:42] crweiner commented on #542
Hello @tanmoy27112000! 👋 Do you have a company in mind? If so, feel free to submit a PR or add them to Issue #528. I'll close that Issue once Hacktoberfest starts. 😄

[2022-09-29 19:42] #542 closed

[2022-09-29 21:14] tanmoy27112000 commented on #528
add Invertase to the company list  PR: https://github.com/crweiner/hacktoberfest-swag-list/pull/543

[2022-09-30 02:35] crweiner opened #545 "Setup Social Cards - MkDocs Material"
A good first issue to tackle for Hacktoberfest! 🎃

This site is now a MkDocs site running the material theme. However, the social cards either show old info from 2021, or no info at all. [Following this setup guide](https://squidfunk.github.io/mkdocs-material/setup/setting-up-social-cards/), it would be nice to setup working social cards for this new site!

The Hacktoberfest Swag List is deployed

[2022-09-30 19:11] crweiner commented on #528
Hacktoberfest is officially on, so I'll close this Issue. Please submit all PRs as usual now if you find a new organization to add to the list! 😄

[2022-09-30 19:11] #528 closed

[2022-09-30 19:36] crweiner opened #547 "Add a favicon.ico to the Hacktoberfest Swag List"
Welcome to another fun Hacktoberfest, everyone! This year, the Hacktoberfest Swag List has been re-written to MkDocs and themed by the [Material theme](https://squidfunk.github.io/mkdocs-material/).

As an easy first issue for someone who hasn't participated before, please [follow this guide to add a favicon.ico to the Swag List website](https://squidfunk.github.io/mkdocs-material/setup/changing-t

[2022-09-30 19:40] neutr0n420 commented on #547
Hey I would love to contribute to this issue can you assign it to me?

[2022-09-30 19:42] shittusaheed01 commented on #547
Hi, I'm interested in this issue and I would love to be assigned to it

[2022-09-30 19:44] Asmit2952 commented on #545
Can I work on this?

[2022-09-30 20:02] GulamMd commented on #547
Hello I am also new can you assign this to me i want to learn how these things work. Thanks in advance

[2022-09-30 21:02] crweiner commented on #545
Of course, @Asmit2952! I don't assign Issues to just one person, as I have found that many times they don't follow through. You're more than welcome to submit a PR and reference this Issue number. 👍

[2022-10-01 01:09] Asmit2952 commented on #545
Okay cool. I'll be happy to work on this. If I get any doubts, I'll ping you here :)

[2022-10-01 04:59] crweiner opened #552 "Add Percona to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://www.percona.com/blog/contribute-to-open-source-with-percona-and-hacktoberfest/), Percona is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/con

[2022-10-01 05:01] crweiner opened #553 "Add Meilisearch to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://blog.meilisearch.com/contribute-hacktoberfest-2022/), Meilisearch is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You will

[2022-10-01 05:03] crweiner opened #554 "Add Hasura to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://hasura.io/blog/hasura-joins-hacktoberfest-3rd-year-in-a-row/), Hasura is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You

[2022-10-01 05:06] sdeepanshu17 commented on #554
Please assign this to me.

[2022-10-01 05:08] crweiner opened #555 "Add Appwrite to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://hacktoberfest.appwrite.io), Appwrite is returning for Hacktoberfest 2022 by sponsoring the entire [official Hacktoberfest event](https://hacktoberfest.com), offering their own unique swag, and [sponsoring this project](https://hacktoberfestswaglist.com/#sponsored-by)! I am incredibly appreciative of Appwrite and love how

[2022-10-01 05:10] crweiner opened #556 "Add Medusa to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://medusajs.com/blog/medusa-hackathon), MedusaJS is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You will need to locate the

[2022-10-01 05:11] crweiner opened #557 "Add MindsDB to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://mindsdb.com/hacktoberfest/), MindsDB is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You will need to locate the type of s

[2022-10-01 05:12] crweiner opened #558 "Add Speckle to the 2022 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://speckle.community/t/hacktoberfest-2022-with-speckle/3641), Speckle is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You wil

[2022-10-01 05:23] crweiner opened #559 "Add ToolJet to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://blog.tooljet.com/hacktoberfest-2022/), ToolJet is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You will need to locate the

[2022-10-01 05:29] vikash485 commented on #558
Hello @crweiner, I have made a pull request for this issue. Please verify the same. Thanks a lot

[2022-10-01 05:43] Sidd2024 commented on #559
hey there I would love to work on this issue, please assign it to me!

[2022-10-01 05:44] moingshaikh opened #562 "Add TON to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://www.tonspace.co/hacktonberfest/), TON is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You will need to locate the type of

[2022-10-01 05:46] Sidd2024 commented on #562
hello, @moingshaikh I would like to work on this issue, please assign it to me.

[2022-10-01 05:48] moingshaikh commented on #562
Feel free to work on it.

Please see the Contributing Guidelines [here](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md) and start your Hacktoberfest journey :)

[2022-10-01 05:50] crweiner opened #563 "Feature: Make all off-site links open in a new tab"
MkDocs and the Material theme have support for Python Markdown. To get off-site links to open in a new tab, instead of inline at HacktoberfestSwagList.com, they must be given the `target="_blank"` attribute.

Please enable the [Attribute Lists](https://squidfunk.github.io/mkdocs-material/setup/extensions/python-markdown/#admonition) extension so that this can then be added to each off-site link.

[2022-10-01 05:55] crweiner commented on #562
Hi @moingshaikh. While I appreciate your zeal, and you certainly have a knack for copy-and-pasting, what swag is TON offering for people's meaningful contributions? Is it an NFT? I'll have to consider if that goes along with my goal for this project... 😐

[2022-10-01 05:57] crweiner commented on #559
Hi @Sidd2024! 👋 Issues are never assigned, all PRs are first-come-first-served. I've seen over the years that assigned Issues tend not to be completed, so I don't assign them anymore. 👍

[2022-10-01 05:59] Sidd2024 commented on #559
okay no problem, I'll raise a pr directly!👍🏻

[2022-10-01 06:03] amitmishra11 commented on #557
Please assign this issue to me

[2022-10-01 06:35] Sidd2024 commented on #559
here, please review it #565

[2022-10-01 06:39] smeet07 commented on #556
#566 this PR solves this issue

[2022-10-01 06:48] amitmishra11 commented on #557
@crweiner I have made a PR for this issue please see

[2022-10-01 07:06] rrsingh11 commented on #563
Hello, Can you please assign this issue to me?

[2022-10-01 10:54] gaurang7goel commented on #554
Hi, can you assign me this issue.

[2022-10-01 11:08] donheshanthaka commented on #563
Hey there, can i work on this too

[2022-10-01 11:19] moingshaikh commented on #562
Hi Chandler,

Yes, they are offering some limited Hacktober Fest Edition NFT.

I agree with you about consideration. My apologies for being too quick on
this 😑

On Fri, Sep 30, 2022, 23:56 Chandler Weiner ***@***.***>
wrote:

[2022-10-01 11:21] letsintegreat commented on #554
Hey @crweiner! I would like to work on this issue.

[2022-10-01 12:10] asi309 commented on #563
#573 Enables Attributes List extension

[2022-10-01 18:46] crweiner commented on #555
Closed in PR #568.

[2022-10-01 18:46] #555 closed

[2022-10-01 18:54] #552 closed

[2022-10-01 19:06] #554 closed

[2022-10-01 19:31] #545 closed

[2022-10-01 19:46] #547 closed

[2022-10-01 20:31] crweiner commented on #559
Added in #565

[2022-10-01 20:31] #559 closed

[2022-10-01 20:43] crweiner commented on #563
Hello all! I don't assign issues, as I have seen that more often than not, people tend to disappear once assigned.

This Issue has not yet been fully resolved, and I welcome additional PRs!

[2022-10-01 21:03] crweiner commented on #562
I appreciate you letting us know about TON's offering for this Hacktoberfest. Personally, I have some pretty negative feelings towards NFTs and don't really consider this to be swag. It's an odd grey area...

I'll close this Issue for now, but I'm not 100% ruling it out. I'll have to see what others think.

Thank you again! 👍

[2022-10-01 21:03] #562 closed

[2022-10-01 21:10] #553 closed

[2022-10-01 21:19] crweiner commented on #563
Featured added in #573, but all of the links still need to be updated across the Swag List.

Additionally, the Contributing.md doc should be updated with the reference too. 👍

[2022-10-01 21:24] Rutam21 opened #578 "Add Novu to the 2022 Hacktoberfest Swag List!"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://github.com/novuhq/novu#readme), Novu is participating in Hacktoberfest 2022 by giving away their own swag. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You will need to locate the type of s

[2022-10-01 21:25] Rutam21 commented on #578
@crweiner Please assign this to me. I will raise a PR soon. Thanks

[2022-10-01 21:27] crweiner commented on #578
Hello @Rutam21! 👋 I don't assign Issues, but feel free to submit a PR! 👍

[2022-10-01 21:46] letsintegreat opened #580 "Compromise in the alphabetical order in list.md"
Apparently an organization with initial "T" (ToolJet) has been put after an organization having initial "U" (UnionML), thus compromising the alphabetical order. This needs to be fixed by placing the organizations in the correct order.

[2022-10-01 21:52] crweiner commented on #580
Ahh, yep, this happened due to the amount of PRs I merged all at once. thank you for catching this. Please submit a PR for the fix. 👍

Working on reviewing #577 now, so I don't want to step on your toes again. 😅

Appreciate it!

[2022-10-02 03:55] #563 closed

[2022-10-02 04:24] #580 closed

[2022-10-02 06:01] letsintegreat commented on #556
@crweiner As #566 has been merged, kindly close this issue so that newcomers don't get attracted to this issue?

[2022-10-02 07:33] Asmit2952 commented on #578
Hey @crweiner this repository seems to be excluded from hacktoberfest. Is there any way we can undo that?

[2022-10-02 11:32] Csrivastava003 commented on #558
I would like to work on this issue

[2022-10-02 12:00] chiragchandnani10 commented on #558
#584  This PR completes this issue. Can you assign hacktoberfest-completed tag to this? Thanks!

[2022-10-02 14:27] crweiner commented on #556
Thank you, solved in #566. 🎉

[2022-10-02 14:27] #556 closed

[2022-10-02 14:32] crweiner commented on #578
Humm...thank you for letting me know, I'll reach out.

[2022-10-02 15:53] Sidd2024 commented on #578
Yeah @Asmit2952 you are right..

[2022-10-02 15:57] crweiner commented on #578
I'm working on it. 👍 Going through the official channels, I hope to have it resolved soon.

[2022-10-03 02:24] crweiner commented on #557
Minds DB has been added in PR #582

[2022-10-03 02:24] #557 closed

[2022-10-03 03:09] #578 closed

[2022-10-03 03:44] crweiner opened #590 "Add Mattermost to the 2022 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://mattermost.com/blog/hacktoberfest-2022/), Mattermost is participating in Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributi

[2022-10-03 03:46] crweiner opened #591 "Add LocalStack to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://localstack.cloud/blog/2022-10-01-contribute-to-open-source-with-localstack-hacktoberfest/), LocalStack is participating in Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/h

[2022-10-03 08:26] AbhishekTiwari23 opened #596 "Company Github Repo Links"
Hello, I want to contribute to this project. I found that the GitHub repository link of most of the companies is not attached. I want to add these links as it will help the contributor react to the repo in just a single click

[2022-10-03 11:07] Arnav-Negi commented on #591
Hi, I would love to work on this please assign it to me!

[2022-10-03 20:43] crweiner opened #600 "Add Network to Code and Nautobot to the 2022 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://blog.networktocode.com/post/hackathon/), the Network to Code and Natobot organizations are participating in Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-sw

[2022-10-03 20:45] crweiner opened #601 "Add Space Jelly and Cloudinary to the 2022 Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://spacejelly.dev/hacktoberfest/), Space Jelly and Cloudinary are participating in Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/con

[2022-10-03 20:46] crweiner opened #602 "Add DagsHub to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://dagshub.com/blog/dagshub-x-hacktoberfest-2022/), DagsHub is returning for Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contribut

[2022-10-03 20:48] crweiner opened #603 "Add Docker to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://docker.github.io/hacktoberfest/), Docker is not only sponsoring Hacktoberfest 2022 as a whole, but is also participating by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-lis

[2022-10-03 20:58] crweiner commented on #596
I want to make sure that people are purposely reading the contents on the Swag List and not just clicking on a GitHub URL and spamming them. Some organizations on the List have their repos included if they are specifically called out in that company's blog posts/tweets. If you feel like updates are needed to any company on the list, please submit a PR so I can review it! 😄 However, I'm not looking

[2022-10-03 20:58] #596 closed

[2022-10-03 21:54] AbhishekTiwari23 commented on #596
Thanks, @crweiner, for guiding me. And if I can contribute then please let me know. Thanks once again.

[2022-10-03 21:58] AbhishekTiwari23 commented on #603
Hello @crweiner, I checked out that swags are still not announced by docker. But I want to do this once announced.

[2022-10-03 22:00] AbhishekTiwari23 commented on #602
@crweiner, I want to do this. Please allow me.

[2022-10-03 22:02] AbhishekTiwari23 commented on #601
@crweiner, I want to do this. Please allow me.

[2022-10-03 22:02] AbhishekTiwari23 commented on #600
@crweiner, I want to do this. Please allow me.

[2022-10-04 02:16] KartikeyDubeyKD commented on #600
I would like to work on this kindly assign this to me.

[2022-10-04 02:17] KartikeyDubeyKD commented on #590
I would like to work on this

[2022-10-04 02:59] crweiner commented on #590
Mattermost has been added in PR #592 .

[2022-10-04 02:59] #590 closed

[2022-10-04 03:14] crweiner commented on #596
I'm always up for revieiwing good, meaningful, helpful PRs, @AbhishekTiwari23!

If you're new to Hacktoberfest and/or open source projects, I'd reccommend reviewing the [Resources for Beginners guide on the Hacktoberfest website](https://hacktoberfest.com/participation/#beginner-resources). That section, along with everything on the [Participation page](https://hacktoberfest.com/participation/#beg

[2022-10-04 03:21] crweiner commented on #591
Added in PR #593

[2022-10-04 03:21] #591 closed

[2022-10-04 03:22] crweiner commented on #600
Hi al, I don't assign Issues to just one person. Due to the short nature of this project, the best PR will be the one added to the List. 👍

[2022-10-04 04:02] crweiner commented on #601
Added in PR #605

[2022-10-04 04:02] #601 closed

[2022-10-04 04:13] crweiner commented on #602
Feel free to submit a meaningful PR! Issues are never assigned to just one person here. 👍 First come, first served, if it's a good PR.

[2022-10-04 04:47] crweiner commented on #558
Speckle added in PR #560.

[2022-10-04 04:47] #558 closed

[2022-10-04 05:11] Aishubalaji commented on #603
Hello @crweiner, I would love to do the changes as soon as swags are announced by docker

[2022-10-04 20:59] crweiner opened #610 "Add Steampie to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://steampipe.io/blog/hacktoberfest-2022), Steampie is participating in the joy of Hacktoberfest by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contribut

[2022-10-04 21:27] crweiner opened #611 "Add Uno Platform Back to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://platform.uno/blog/uno-platform-at-hacktoberfest-2022-prizes-and-how-to-participate/), Uno Platform is returning for Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktobe

[2022-10-04 21:33] deepesh16b commented on #611
please assign this to me

[2022-10-04 22:03] PriyanshuAhlawat commented on #610
Nice task, working on it🙂

[2022-10-04 22:50] kev-odin commented on #611
Check PR #613

[2022-10-05 04:00] #610 closed

[2022-10-05 04:12] crweiner commented on #611
Uno was addded in PR #613

[2022-10-05 04:12] #611 closed

[2022-10-05 04:14] crweiner commented on #600
This one still needs a PR! 👍

[2022-10-05 04:22] crweiner opened #614 "Add Airbyte to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://airbyte.com/connector-contest), Airbyte is celebrating Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You will n

[2022-10-05 04:24] crweiner opened #615 "Add ClueLess to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://www.clueless.tech/hacktoberfest), ClueLess is participating in Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

Yo

[2022-10-05 04:40] crweiner commented on #602
Added in #607

[2022-10-05 04:41] crweiner opened #616 "Add Refine to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://refine.dev/blog/hacktoberfest-refine/), Refine is joining in on the Hacktoberfest fun for the first time by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/do

[2022-10-05 04:48] alpesh-rama commented on #615
Please assign me to this issue. Thank you

[2022-10-05 04:49] crweiner opened #617 "Add OpenSearch to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://www.opensearch.org/blog/community/2022/10/hacktoberfest-2022/), OpenSearch is joining in on the Hacktoberfest fun for the first time by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberf

[2022-10-05 04:51] crweiner opened #618 "Add LambdaTest to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://www.lambdatest.com/blog/celebrate-hacktoberfest-2022-with-lambdatest/), LambdaTest is joining in on the Hacktoberfest fun by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-li

[2022-10-05 04:53] Utkarsh212 commented on #618
Please assign this to me so that I could work upon it

[2022-10-05 04:54] crweiner commented on #615
Hi @alpesh-rama! Issues are not assigned, it's first-come-first-served for a good PR. 👍

[2022-10-05 04:55] crweiner commented on #618
Hi @Utkarsh212, I do not typically assign Issues to one person. All meaningful PRs are considered first-come-first-served. 👍

[2022-10-05 05:01] crweiner opened #619 "Add RapidAI to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://rapidapi.com/learn/hacktoberfest), RapidAI is joining in on the Hacktoberfest fun by giving away their own swag for meaningful contributions. 😄 They're even sponsoring (or somehow taking part) in the offical Hacktoberfest celebration and swag!

Please add them to the 2022 list following the formatting in the [CONTRIBUTING

[2022-10-05 05:11] SainathPoojary commented on #619
Hey @crweiner, I want to work on this. Please assign it to me.

[2022-10-05 05:13] Mr-DJ commented on #617
please assign this to me, thanks :)

[2022-10-05 05:24] XoMute commented on #616
Hi @crweiner
I'd like to work on this issue

[2022-10-05 05:31] riyaku11 commented on #614
@crweiner  please assign me this

[2022-10-05 05:42] Utkarsh212 commented on #618
@crweiner Added LambdaTest to list.md. Refer PR: #621

[2022-10-05 06:35] elenajp commented on #619
Hi @crweiner I would also love to contribute :)

[2022-10-05 08:25] Mr-DJ commented on #617
submitted a pr 🎉

[2022-10-05 08:26] Mr-DJ commented on #617
#623

[2022-10-05 10:48] zahyaah opened #625 "{:target="_blank"} in front of every link provided in the contributing.md"
#### When clicked on the any of the links, it should open up in a new tab.
<img width="1053" alt="image" src="https://user-images.githubusercontent.com/72253920/194042065-5b39cd45-1941-4ff8-a3b8-7c369f020dd3.png">

![image](https://user-images.githubusercontent.com/72253920/194042285-7aea648f-98b0-4f03-bc61-c2b35e192e77.png)

![image](https://user-images.githubusercontent.com/72253920/194042520-a6

[2022-10-05 11:27] zahyaah commented on #625
I tried the following, but I'm not able to get the required output.
<img width="927" alt="image" src="https://user-images.githubusercontent.com/72253920/194049532-7656f8b9-9964-4210-ba52-9e7f574fd086.png">

[2022-10-05 13:02] Vedant755 commented on #614
Hey! I have done the PR on the issue which is added the Airbyte to the hacktoberfest swag list. #627
Thanks for this repo!

[2022-10-05 14:14] PinetheApple commented on #619
Hello, I added it to the list here - [#628](https://github.com/crweiner/hacktoberfest-swag-list/pull/628#issue-1397862033)

[2022-10-05 14:29] zahyaah commented on #625
So, shall I remove the `{:target="_blank"}` from the contributing.md file?

[2022-10-05 15:35] Mou-Ikkai commented on #625
No! Because that'd remove the ability for it to open a new tab in the website! x3

[2022-10-05 19:06] crweiner commented on #578
Hey @Asmit2952, can you please take another look? I reached out to the Hacktoberfest team and they let me know they lifted the exclusion. 😺

[2022-10-05 19:11] vimode opened #629 "Add Bagisto to the Hacktoberfest Swag List"
Bagisto is giving cool Bagisto swag pack for every 4 accepted PRs.
The swag pack includes a plus Bagisto Elephant, stickers, t-shirt, pen and notebook!

More details available [here](https://webkul.com/meetups/hacktober-fest-bagisto-2022/)

This issue is open for anyone who wants to contribute to this repo.

Please read the [contributing guideline](https://github.com/crweiner/hacktoberfest-swag-li

[2022-10-05 19:13] vimode opened #630 "Add Gita to the Hacktoberfest Swag List"
[The Gita Initiative](https://github.com/gita) giving a hardcopy of The Bhagavad Gita and stickers for 4 or more accepted PRs

More details available [here](https://www.linkedin.com/posts/vedvyas_github-gitagita-bhagavad-gita-in-json-activity-6982314384161140736-o370)

This issue is open for anyone who wants to contribute to this repo.

Please read the [contributing guideline](https://github.com/c

[2022-10-05 19:19] crweiner commented on #629
Hey @vimode! 👋 Nice to see you over here too! 😄

Bagisto was added in PR #546 [and is currently on the site](https://hacktoberfestswaglist.com/list/#bagisto). ❤️  I'll close this Issue, but please do feel free to raise any others and/or submit PRs!

[2022-10-05 19:19] #629 closed

[2022-10-05 19:54] vimode opened #631 "Add dyrectorio to the Hacktoberfest Swag List"
[dyrector.io ](https://docs.dyrector.io/) giving a dyrectorio swag cap for writing unit tests with 10% coverage in the golang side of the repository

More details available [here](https://github.com/dyrector-io/dyrectorio/issues/241)

This issue is open for anyone who wants to contribute to this repo.

Please read the [contributing guideline](https://github.com/crweiner/hacktoberfest-swag-list/blo

[2022-10-05 21:03] AbhishekTiwari23 commented on #631
I completed this task. Please accept m previous pr so that I can make a fresh pr for this one also

[2022-10-05 21:23] crweiner commented on #631
@AbhishekTiwari23: You don't have to add things one at a time, feel free to group several companies together into one PR. You don't want to artificially inflate your PR count for Hacktoberfest...right?🤨 Plus, it makes my job easier to review. 👍

Your PR #630 is pulling from your `master` branch, so anything else you add there will be included in the same PR automatically.  Just update the title of

[2022-10-05 21:30] AbhishekTiwari23 commented on #631
Ok, I will take care of it. Thanks

[2022-10-05 23:59] crweiner commented on #618
Added via #621

[2022-10-05 23:59] #618 closed

[2022-10-06 03:02] vimode commented on #631
You're welcome @crweiner  And thank you for your intention with this repo.

With some goodies, they naturally surface on twitter, reddit etc
And just some age old keyword specific search alerts 🤖  but that is slowly becoming less useful to find such issues as people are flooding their profiles with `hacktoberfest` and `hacktoberfest2022` titled repos, to game the system with dummy repos that are f

[2022-10-06 05:05] Sidd2024 commented on #578
@crweiner yeah I've checked and the repo is included again ✨

[2022-10-06 06:18] Asmit2952 commented on #578
Yes @crweiner the repository is now a part of hacktoberfest!

[2022-10-06 06:22] Asmit2952 opened #635 "Add steps to build the site"
Hey @crweiner as I was working on previous issue, I had to setup the site locally. I had no knowledge of how to set it up, so had to dig in to many resources and head to StackOverflow as well.

I would like to add setup steps in contributing.md file if you think this is a good addition.

[2022-10-06 10:03] vimode opened #637 "Add SuiteCRM to the Hacktoberfest Swag List"
[SuiteCRM](https://suitecrm.com/) are looking for contributions in their three open source repositories; [SuiteCRM](https://github.com/salesagility/SuiteCRM), [SuiteDocs](https://github.com/salesagility/SuiteDocs), and [SuiteCRM-Core](https://github.com/salesagility/SuiteCRM-Core), valid contributions will be rewarded with exclusive swag, such as T-shirts, stickers, and possibly even a SuiteCRM-br

[2022-10-06 12:24] daniloff200 opened #638 "UNO Platform take part in Hacktoberfest 2022"
Per [this post](https://platform.uno/blog/uno-platform-at-hacktoberfest-2022-prizes-and-how-to-participate/?utm_source=UNO+Website&utm_campaign=68150a59ac-hacktober_Newsletter_unoweb&utm_medium=email&utm_term=0_e365f25f18-68150a59ac-192593761) which I've got on my email (probably, because I've already took part in Hacktober with Uno sometime ago)

Gonna add this to our list too :)

[2022-10-06 12:25] #638 closed

[2022-10-06 14:28] crweiner commented on #600
Added via PR #622

[2022-10-06 14:34] #617 closed

[2022-10-06 14:45] #619 closed

[2022-10-06 14:46] Sidd2024 commented on #637
hello @vimode I've raised a PR #639 , please review and add labels😇

[2022-10-06 14:51] vimode commented on #637
Hello @Sidd2024 thanks for your contribution. But I am not a maintainer just a contributor like you.

The maintainers have other PRs in the pipeline it seems so please be patient, the necessary changes will be done and valid PRs will be merged

[2022-10-06 14:52] #614 closed

[2022-10-06 14:53] crweiner commented on #635
Yes indeed! I think that's a great addition. 👍 Feel free to submit a PR adding setting up a local environment in Contributing.md.

[2022-10-06 14:55] crweiner commented on #637
Yes indeed, thank you @vimode for making the Issue and I'm a one-man-band here @Sidd2024. 😅 Working through the PRs right now. 👍

[2022-10-06 15:03] crweiner commented on #631
Be sure to report any spam repos you see [via this form](https://hacktoberfest.com/report/) so the Hacktoberfest team can take care of it. That's also how this project got flagged initially, and I can totally see how someone can make that assumption by a casual glance. 😅

[2022-10-06 15:06] crweiner opened #640 "Add StepZen to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://stepzen.com/blog/stepzen-hacktoberfest-2022), StepZen is returning for Hacktoberfest 2022 by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing

[2022-10-06 15:10] vimode opened #641 "UI update suggestion : Title hierarcy update"
Hello,

I noticed the hierarchy for the title/name of the company and the bold particulars below look very similar.
I think it would look better and more distinguishable with a little change in the Header levels. 🎚️

Suggestion : The legends be changed to with Header Level 2 and titles with Header Level 3.
This might screw up your current hierarchy a bit maybe, as the title of the whole section *A

[2022-10-06 15:13] priyanshu6781 commented on #640
Hey, I want to work. Could you please assign this to me.

[2022-10-06 15:22] vimode commented on #631
Awesome.  Thank you for the link. Will be reporting them from now on.

Sidenote, its a bit unfortunate that Gitlab's repo search is auth walled which is probably by barely anything get indexed as such, discovery for those projects will be fairly low.

If I am not mistaken, this is the first them Gitlab repos too are part of hacktoberfest, isn't it? The reception might not be as huge as it is over

[2022-10-06 17:07] crweiner commented on #640
[Issues are never assigned](https://hacktoberfestswaglist.com/contributing/#other-contributing-guidelines), first come, first served for a meaningful PR. 👍

[2022-10-06 17:24] crweiner commented on #631
[This is their second year](https://about.gitlab.com/blog/2021/10/01/join-us-for-hacktoberfest-2021/) and last year they offered their own swag too, I believe. GitLab has often been for more corporate / business-y folks compared to the free-for-all that GitHub is. 😆 They had a free set of integrated CI/CD before GitHub launched Actions, so I used them for a bit, but GitHub pulled me back because o

[2022-10-06 17:28] crweiner commented on #630
Gita added in #633

[2022-10-06 17:28] #630 closed

[2022-10-06 18:05] vimode commented on #631
Interesting. No wonder their CI/CD service was much easier to work with a yml file than Github Actions.
I also keep reading that Github is not even on parity with the features Gitlab provides!
Yes, the bigger community and the openness definitely is a great driver of Github's popularity.

[2022-10-06 18:51] zahyaah commented on #625
@crweiner Thank you so much for explaining me : )

[2022-10-07 01:55] vimode opened #647 "Add Neo4j to the Hacktoberfest Swag List"
[Neo4j](https://suitecrm.com/) are looking for contributions for all [Neo4j Projects](https://github.com/search?l=&o=desc&q=neo4j&s=&type=Repositories), valid contributions stand a chance to win a Pixoo display.

More details available [here](https://medium.com/neo4j/hacktoberfest-at-neo4j-9991ccc98c33)

This issue is open for anyone who wants to contribute to this repo.

Please read the [contribu

[2022-10-07 02:54] kev-odin opened #648 "Add Globo to the Hacktoberfest Swag List (translation required)"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://hacktoberfest.globo.com/), Globo is participating for Hacktoberfest 2022 by giving away swag for meaningful contributions. smile

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

You will need to

[2022-10-07 03:17] crweiner opened #649 "Add NativeScript to the Hacktoberfest Swag List"
A good first issue for people celebrating Hacktoberfest!

Per [here](https://twitter.com/NativeScript/status/1577660072150196224), NativeScript is joining in on the Hacktoberfest by giving away their own swag for meaningful contributions. 😄

Please add them to the 2022 list following the formatting in the [CONTRIBUTING.md file.](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/

[2022-10-07 03:29] akk312000 commented on #649
Can I take this one?

[2022-10-07 03:34] crweiner commented on #637
Added in PR #642

[2022-10-07 03:34] #637 closed

[2022-10-07 03:38] kev-odin commented on #649
Go for it! First come, first serve. Just be sure to read the [CONTRIBUTING.md file](https://github.com/crweiner/hacktoberfest-swag-list/blob/master/docs/contributing.md)

[2022-10-07 03:38] akk312000 commented on #649
Thanks @kev-odin , sure would read CONTRIBUTING.md file as you instructed

[2022-10-07 03:58] #616 closed

[2022-10-07 04:17] crweiner commented on #648
Thanks @kev-odin! Happy to see Globo back for another year! If memory serves, this organization has a shipping limitation to consider, as they don't send their swag worldwide. Let's see if either I am wrong or someone can find it! 😆

[2022-10-07 04:20] crweiner commented on #647
![cat nice](https://media.giphy.com/media/xu3nTl5OdCuqs/giphy.gif)

[2022-10-07 09:36] naksh2004 opened #654 "Add webkul to hacktoberfest-swag-list"

[2022-10-07 11:51] vimode commented on #654
Thanks for your opening this issue.
Webkul's Bagisto is already added to the list in #567
https://hacktoberfestswaglist.com/list/#bagisto

[2022-10-07 12:02] vimode opened #655 "Add OpenReplay to the Hacktoberfest Swag List"
[OpenReplay](https://openreplay.com/) are looking for contributions to beginner friendly issues at their [repo](https://github.com/openreplay/openreplay) to help beginners get their first PR. 1️⃣

If you contribute towards custom plugins and custom heuristics, you stand a chance to win $50 Amazon Gift Card. 🎁

More details available [here](https://blog.openreplay.com/its-hacktoberfest-and-were-her

[2022-10-07 13:27] vimode opened #656 "Add Devtron to the Hacktoberfest Swag List"
⭐ [Devtron](https://devtron.ai/), one of the official supporters of Hacktoberfest are looking for contributions towards their community charts, docker templates and documentation.  At this point the goodies and giveaways are not revealed.

They are also running multiple events like micro blogging, bug hunt, devtron art and twitter threads throughout the month which will have separate prizes. 🏆

Mo

[2022-10-07 13:49] vimode opened #657 "Add Modtoberfest to the Hacktoberfest Swag List"
[Modtoberfest](https://modtoberfest.com/) is an annual celebration of open source projects in the Minecraft community. 🎮

Make valid pull requests to at least four different [participating projects](https://modtoberfest.com/repositories) to be eligible to receive a prize pack which includes stickers and pins! 🎁

They will also [plant 1 tree](https://modtoberfest.com/modtoberforest) for each valid

[2022-10-07 13:54] vimode commented on #657
@crweiner  This is a parallel event alongside hacktoberfest. But since most projects in the list of repos are also tagged `hacktoberfest`, contributing to those will count towards Hacktoberfest.

I think with a note that repos tagged with `hacktoberfest` will count towards Hacktoberfest but contributing to other repos as well will help you win those prizes should be enough as the list of participa

[2022-10-07 15:20] crweiner commented on #657
Yes, absolutely! Like you said, many repos are opted-in to Hacktobefest, I like that they have a good [set of rules](https://modtoberfest.com/rules), they're clearly modeling this after Hacktoberfest, there's a [huge list of participating repos](https://modtoberfest.com/repositories) and Minecraft has been a _fantastic_ way to get people interested in coding/modding/hacking. Excellent find! 🥇

[2022-10-07 17:52] crweiner commented on #625
Hello again @zahyaah and @Mou-Ikkai!

I just added a new Python extension to the repo that'll automatically add the `target=_"blank"` attribute when MkDocs/Netlify builds the live site without having to specify it manually anymore. 🎉 See PR #659 .

So, now the .md files in this repo are much easier to read, as GitHub will not leave in the `{:target="_blank"}` after the URLs when browsing on GitHub

[2022-10-07 18:11] #615 closed

[2022-10-07 18:11] #647 closed

[2022-10-07 20:03] crweiner commented on #654
Hey @naksh2004! 👋 As @vimode pointed out, this is already on the swag list under the name of the project, Bigisto. That's how I typically like to do things around here, for clarity sake. Thank you though, happy Hacktoberfest! 🎃

[2022-10-07 20:03] #654 closed

[2022-10-07 20:10] vimode opened #661 "Add Zyte to the Hacktoberfest Swag List"
[Zyte](https://www.zyte.com/), the lead maintainer of one of the most popular web crawling framework for Python is looking for contributions in one of the 4 projects supported by Zyte.

The first 20 participants to get a PR accepted on those projects will win Zyte Swag.

More information available [here.](https://www.zyte.com/blog/hacktoberfest-2022/)

This issue is open for anyone who wants to co

[2022-10-07 20:19] RUPAAK commented on #640
@crweiner which file should I look for ?

[2022-10-07 20:31] RUPAAK commented on #640
@crweiner  I have created the PR

[2022-10-08 03:12] crweiner commented on #649
Added in #651

[2022-10-08 03:12] #649 closed

[2022-10-08 03:26] #648 closed

[2022-10-08 03:40] #657 closed

[2022-10-08 16:08] Ruchika30 commented on #656
Hi @crweiner . I would like to take this up

[2022-10-08 16:08] Ruchika30 commented on #655
Hi @crweiner . I would like to take this up

[2022-10-08 16:15] vimode commented on #656
Hey @Ruchika30,  Issues are not assigned, please read the contributing guidelines for more info.

[2022-10-08 16:19] Ruchika30 opened #666 "Add techstacks in descriptions"
I think adding techstack along with the other details by an organization would be a helpful addition. As of now we got to their respective repos and check the techstacks if relevant to a certain developer for him./her to checkout the issues in them

[2022-10-08 20:03] kev-odin commented on #666
Can you provide an example of what you mean?

What problem are you trying to solve?

[2022-10-09 01:58] Vishwa-docs commented on #635
Hey, can you give me some more information on this issue?

I can write the steps in contributions.md on how to fork, clone etc. Is that enough or are there any other steps that need to be added?

[2022-10-09 03:23] vimode commented on #666
Its a really neat suggestion but most of the projects in this list are from companies which have multiple repos with a big list of languages use for various purposes.  That could make each item very crowded very quickly.

I personally do not like the idea of this being a curated list, could develop a selection bias like behavior from the source(here), by limiting what a contributor can provide bas

[2022-10-09 03:39] Asmit2952 commented on #635
Hey, I have submitted a PR already.

[2022-10-09 04:00] #635 closed

[2022-10-09 04:17] crweiner commented on #666
I appreciate the suggestion, @Ruchika30, but at this point adding a tech stack / coding language field isn't something I wish to implement at this time.

New for 2022, [no-code and low-code contributions are very much encoraged](https://hacktoberfest.com/about/#low-or-non-code), and I don't want to _discourage_ someone from contributing to a repo/project they find interesting simply because they d

[2022-10-09 04:17] #666 closed

[2022-10-09 14:12] Ruchika30 commented on #666
I understand . Thank you

[2022-10-09 18:29] bpires opened #670 "HackSquad - Hackathon like competition to win swag during Hacktoberfest"
[HackSquad 2022](https://www.hacksquad.dev/) is a HacktoberFest-related hackathon-like competition that allows participants to contribute as a squad instead of a single contributor.

To participate, you have to register to the HackSquad using your GitHub account. HackSquad is sponsored by [daily.dev](https://daily.dev/), [amplication](https://amplication.com/), [Novu](https://novu.co/), and [ToolJ

[2022-10-11 03:39] #670 closed

[2022-10-12 04:47] #603 closed

[2022-10-12 04:47] #631 closed

[2022-10-12 04:47] #640 closed

[2022-10-12 04:47] #655 closed

[2022-10-12 04:47] #656 closed

[2022-10-12 04:47] #661 closed

[2022-10-12 04:56] crweiner commented on #641
Currently being tested in [header-test branch](https://github.com/crweiner/hacktoberfest-swag-list/tree/header-test).

[2022-10-14 16:43] vimode opened #679 "Add Atsign to the Hacktoberfest Swag List"
[Atsign](https://atsign.com/), is looking for contributions towards the open issues under the Atsign Foundation.

The first ten merged PRs in Beginner will win a Digital Gift card with $10 USD
The first eight merged PRs in Intermediate will win a Digital Gift card worth $20 USD
The first three merged PRs in Advanced will win a Digital Gift card worth $50 USD

More information available  at the [At

[2022-10-14 16:53] vimode opened #680 "Add JuliaActuary to the Hacktoberfest Swag List"
[JuliaActuary](https://juliaactuary.org/), is accepting all kind of contributions in all their repositories.  They have open issues and a project board with ideas to help you contribute to their projects.

Submit at least two contributions to win a JuliaActuary sticker.

More information available  at the [JuliaActuary.](https://juliaactuary.org/blog/hacktoberfest2022/)

This issue is open for any

[2022-10-14 17:03] vimode opened #681 "Add OpenMetadata to the Hacktoberfest Swag List"
[OpenMetadata](https://open-metadata.org/), is running a month long "Connector Extravaganza" this hacktoberfest.

Every participant who successfully creates and submits a new connectors for their python ingestion framework wins $500USD cash prize and OpenMetadata swag.

More information available  at the [OpenMetadata blog.](https://blog.open-metadata.org/hacktoberfest-2022-connector-extravaganza-

[2022-10-15 03:17] #679 closed

[2022-10-15 03:17] #680 closed

[2022-10-15 03:17] #681 closed

[2022-10-18 08:59] vimode opened #684 "Add Resuminator to the Hacktoberfest Swag List"
[Resuminator](https://www.resuminator.in/) is participating in inviting everyone to open new issues, start discussions and contribute to the project by submitting PRs against any `hacktoberfest` labelled issues.

As per their [announcement](https://github.com/resuminator/resuminator/issues/149) any and all types of contributions are welcome. From fixing docs to developing features, you can find th

[2022-10-18 09:01] vimode commented on #684
If this issue isn't picked up in few hours, I will make a PR against it as its almost halfway through the event and the quicker it gets added to the list the better.

[2022-10-18 18:23] vimode opened #686 "Add AppFlowy to the hacktoberfest swag list"
[AppFlowy](https://www.appflowy.io/) is a popular open source alternative to Notion built with Flutter and Rust.

If your PR is accepted and it fixes a bug, adds functionality or makes the codebase easier to use or understand you get a [special Contributor T-shirt.](https://appflowy.gitbook.io/docs/essential-documentation/contribute-to-appflowy/contributing-to-appflowy#contributor-t-shirt)

This s

[2022-10-19 17:56] vimode opened #687 "Add Codédex to the Hacktoberfest Swag List"
[Codédex](https://www.codedex.io/) is 8-bit learn to code platform.

This Hacktoberfest, they are [looking for content creators](https://dev.to/codedex/how-to-contribute-to-hacktoberfest-with-codedex-8h9) to help them create tutorials for already [existing projects](https://github.com/codedex-io/projects) on their platform.

By contributing you get access to the Codédex premium features and free s

[2022-10-20 17:55] vimode opened #688 "Add Razorpay to the hacktoberfest Swag list"
[Razorpay](https://github.com/razorpay) is giving stickers and custom Razorpay t-shirt to contributions towards any of issue in the repos under their organisation.

More details [available here.](https://github.com/razorpay/.github/blob/master/HACKTOBERFEST.md)

[2022-10-24 03:46] crweiner commented on #686
Hey @vimode! 👋 Sorry for the silence here the last few days; life had gotten in the way!

I am looking for organizations going over and above for Hacktoberfest by offering their own, unique swag for contributions during the holiday. So, I don't think that organizations like AppFlowy would fit, exactly. Similar things have come up with organizations like Kong in years past. I usually direct people

[2022-10-24 03:46] #686 closed

[2022-10-24 03:52] #684 closed

[2022-10-24 03:52] #687 closed

[2022-10-24 03:52] #688 closed

[2022-10-24 06:09] vimode commented on #686
Hey @crweiner  That's all right. I hope everything is okay.

I understand, as you might have read from my messages in the PR I too wasn't sure if AppFlowy be considered in the same group as Kong or not.

This explanation makes the clear distinction.

Thanks for fixing the PR.